# For the following file types, normalize line endings to LF on
# checkin and prevent conversion to CRLF when they are checked out
# (this is required in order to prevent newline related issues like,
# for example, after the build script is run)
* text eol=lf

# Ensure those won't be messed up with
*.jpg binary
*.png binary
*.gif binary
*.data binary
