img {
	border: 0
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}
@media (max-width: 540px) {
	.boxed-group {
		padding: 10px !important;
	}
}
#list {
	padding: 30px 0 0 25px;
	list-style: none;
}
#list li:before {
	margin-right: 5px;
	content: '\2022';
	color: var( --cg60 );
}
#list li.installed:before {
	color: #0f0;
}
#list li.update:before {
	animation: blinkopaque 1.5s linear infinite;
}
.source {
	display: block;
	text-align: right;
	color: var( --cg60 );
}
.source i {
	font-size: 18px;
}
.revisiontext {
	padding-left: 20px;
	line-height: 20px;
}
.detailtext i {
	color: var( --cg60 );
}
.detailtext a {
	color: var( --cml );
}
.boxed-group {
	margin: 10px 0;
	padding: 10px 20px;
	border-radius: 6px;
	background: var( --cga );
}
.boxed-group img {
	max-width: 100px;
}
legend {
	width: 100%;
	margin-bottom: 5px;
	font-size: 14px;
	color: var( --cg60 );
	border-bottom: 1px solid var( --cg );
}
legend span {
	font-size: 21px;
}
legend p,
legend a {
	display: inline-block;
	line-height: 1em;
}
legend > i:last-child {
	float: right;
}
legend .status {
	font-size: 24px;
}
#hidescrollv {
	max-height: calc( 100vh - 110px );
	margin-top: 10px;
	overflow: hidden;
}
.detailtext {
	line-height: 18px;
}
.detailtext code {
	padding: 3px;
}
.info {
	display: inline-block;
}
i.info {
	width: 30px;
}
pre {
	display: block;
	max-height: calc(100vh - 160px);
	width: 100%;
	margin: 10px 0 0 0;
	padding-left: 10px;
	white-space: pre-wrap;
	overflow-x: hidden;
	overflow-y: auto;
	user-select: text;
	-webkit-overflow-scrolling: touch; /* ios momentum scroll */
}
.thumbnail {
	float: right;
	width: 100px;
	cursor: pointer;
}
a,
a:hover {
	text-decoration: none;
}
a:active,
a:hover {
	outline: 0
}
.container .infobtn {
	min-width: 90px;
}
.infobtn.disabled {
	pointer-events: auto;
	user-select: none;
}
#list,
#list li {
	width: fit-content;
	width: -moz-fit-content;
	line-height: 22px;
	color: var( --cw );
}
#list a {
	color: #ff8888;
	text-decoration: none;
}
#list li,
.boxed-group legend,
a {
	cursor: pointer;
}
strike {
	text-decoration: line-through;
}
li i,
.revision,
.boxed-group legend i {
	color: var( --cg60 );
}
span,
pre,
code,
code i {
	color: var( --cw );
}
.flushdot {
	height: 0;
	margin: 0;
	color: #1a1a1a;
	overflow: hidden;
}
pre hr {
	margin: 10px 0 -10px -10px;
	border: 1px solid #00ffff;
}
pre hr.hrlight {
	border-top: none;
}
p,
ul,
.disabled {
	color: var( --cw );
}
.cbgr { color: #808080; background: #808080; }
.cbw  { color: #ffffff; background: #ffffff; }
.cbc  { color: #00ffff; background: #00ffff; }
.cbm  { color: #ff00ff; background: #ff00ff; }
.cbb  { color: #0000ff; background: #0000ff; }
.cby  { color: #ffff00; background: #ffff00; }
.cbg  { color: #00ff00; background: #00ff00; }
.cbr  { color: #ff0000; background: #ff0000; }
.ckby { color: #000000; background: #ffff00; }
.cwbr { color: #ffffff; background: #ff0000; }
.cgr  { color: #808080 }
.cc   { color: #00ffff }
.cm   { color: #ff00ff }
.cb   { color: #0000ff }
.cy   { color: #ffff00 }
.cg   { color: #00ff00 }
.cr   { color: #ff0000 }

@media ( hover:hover ) {
	/* :hover *********************************************************/
	pre *:hover {
		text-decoration: none;
		cursor: text;
	}
	pre a.cc:hover {
		color: #00ffff;
	}
	pre a.cgr:hover {
		color: #808080;
	}
}
