img {
	border: 0
}
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee
}
@media (max-width: 540px) {
	.divaddon {
		padding: 10px !important;
	}
}
#list {
	padding: 30px 0 0 25px;
	list-style: none;
}
#list li:before {
	margin-right: 5px;
	content: '\2022';
	color: var( --cg60 );
}
#list li.installed:before {
	color: #0f0;
}
#list li.update:before,
legend .title.installed.update::before {
	animation: blinkopaque 1.5s linear infinite;
}
.source {
	display: block;
	text-align: right;
	color: var( --cg60 );
}
.source i {
	font-size: 18px;
}
.revisiontext {
	padding-left: 20px;
	line-height: 24px;
}
.detailtext i {
	color: var( --cg60 );
}
.detailtext a {
	color: var( --cml );
}
.divaddon {
	margin: 10px 0;
	padding: 10px 20px;
	border-radius: 6px;
	background: var( --cga );
}
.divaddon img {
	max-width: 100px;
}
.content {
	float: left;
	width: calc( 100% - 110px);
}
legend {
	width: 100%;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 30px;
	color: var( --cg60 );
	border-bottom: 1px solid var( --cg );
}
legend .title {
	font-size: 21px;
}
legend .title.installed::before {
	content: '• ';
	color: #0f0;
}
legend p,
legend a {
	display: inline-block;
}
legend > i:last-child {
	float: right;
}
legend .status {
	font-size: 24px;
}
#hidescrollv {
	max-height: calc( 100vh - 110px );
	margin-top: 10px;
	overflow: hidden;
}
.detailtext {
	line-height: 18px;
}
.detailtext code {
	padding: 3px;
}
.info {
	display: inline-block;
}
i.info {
	width: 30px;
}
.thumbnail {
	float: right;
	width: 100px;
	cursor: pointer;
}
a,
a:hover {
	text-decoration: none;
}
a:active,
a:hover {
	outline: 0
}
.container .infobtn {
	min-width: 90px;
}
.infobtn.disabled {
	pointer-events: auto;
	-webkit-user-select: none;
	user-select: none;
}
#list,
#list li {
	width: fit-content;
	width: -moz-fit-content;
	line-height: 22px;
	color: var( --cw );
}
#list a {
	color: #ff8888;
	text-decoration: none;
}
#list li,
.divaddon legend,
a {
	cursor: pointer;
}
strike {
	text-decoration: line-through;
}
li i,
.revision,
.divaddon legend i {
	color: var( --cg60 );
}
span,
code,
code i {
	color: var( --cw );
}
p,
ul,
.disabled {
	color: var( --cw );
}
.install {
	background-color: var( --cm );
}
.uninstall {
	background-color: #bb2828;
}
