#divtabs {
	position: relative;
}
.tab {
	margin-top: -16px;
}
.tab .helpblock {
	margin-top: 10px;
}
.tab .entries,
.tab .subentries {
	margin-top: 0;
}
#divsampling .entries {
	margin: 10px 0 0 0;
}
.tab li {
	height: auto;
	min-height: 50px;
}
.entries.sub li {
	cursor: default;
}
.tab li i {
	min-width: 40px;
}
.tab li i:not( .i-add ) {
	float: left;
}
.tab .li1 {
	min-width: 130px;
	padding: 5px 10px 0 0;
	line-height: 20px;
}
.tab .li2 {
	font-size: 14px;
	line-height: 14px;
	color: var( --cg60 );
}
.tab .select2-container {
	margin-bottom: 1px;
}
.tab .select2-container.channel {
	width: 65px !important;
}
#divsampling .statuslist {
	margin-top: 15px;
}
#divenable_rate_adjust {
	margin-top: 10px;
}
.section hr {
	border-bottom-color: var( --cga );
}
.col-r hr {
	margin-left: 0;
	max-width: 230px;
}
.tablemapping {
	border-collapse: collapse !important;
}
.trhead {
	border: 1px solid var( --cgl );
	border-left: none;
	border-right: none;
}
.trhead td,
.trsource td:nth-child( n + 3 ) {
	text-align: center !important;
}
.trsource {
	height: 46px !important;
}
.trhead td {
	width: 50px;
}
.trhead td:nth-child( -n + 2 ) {
	width: 75px;
}
.trsource td:nth-child( -n + 2 ) {
	padding: 0 5px !important;
}
.lihead {
	letter-spacing: 5px;
	font-weight: 300;
	color: var( --cw ) !important;
}
.lihead.main {
	background: var( --cga );
}
.lihead .select2 {
	float: none;
	display: inline-block;
	width: 65px !important;
}
.lihead .i-back {
	float: right !important;
}
.tab li .i-add {
	color: var( --cw );
}
.tab li .i-back {
	color: var( --cm );
}
.tab .i-add {
	font-size: 22px !important;
}
tr .i-add,
tr .i-remove {
	width: 40px !important;
	line-height: 46px;
}
.tab li i {
	margin: 0 !important;
}
#filters li {
	cursor: default !important;
}
.tab li.active {
	background: var( --cgd );
}
.tab li:not(.active, .main):hover {
	background: unset !important;
}
.tab .divdest {
	padding-bottom: 20px;
}
.liinput {
	display: flex !important;
	align-items: center;
	padding-top: 0 !important;
}
.liinput.main,
.liinput.main:hover {
	background: var( --cga ) !important;
	border: none !important;
}
.liinput .filter {
	width: 130px;
}
.liinput .filter div {
	display: block;
}
.liinput.main div:first-child,
.liinput .select2-container {
	width: 60px !important;
	min-width: 60px;
}
.liinput .selection,
.liinput .select2-selection,
.liinput .select2-selection__rendered {
	width: 100% !important;
	height: 40px !important;
}
input[ type=range ] {
	--track: linear-gradient( 90deg, transparent 10px, var( --cga ) 10px, var( --cga ) calc( 100% - 10px ), transparent 10px );
	--trackborder : 1px solid var( --cga );
	max-width: 230px;
	margin: 2px 5px 0 10px;
}
#volume {
	margin: 0;
}
#divconfiguration {
	margin-top: 10px;
}
.divgain {
	display: inline-block;
	width: 120px !important;
}
.divgain i {
	width: 40px;
	font-size: 24px;
	text-align: center;
	color: var( --cg60 );
}
#divvolume .col-l {
	padding-top: 6px;
}
#divvolume .i-mute {
	width: 40px;
	margin-right: 8px;
	line-height: 40px;
	text-align: center;
	color: var( --cg60 )
}
li .i-mute {
	margin-left: 20px !important;
}
#divvolume .divgain {
	position: absolute;
	padding-left: 5px;
}
i.disabled,
.divgain.disabled i {
	pointer-events: none;
	color: var( --cg ) !important;
}
.liinput input[ type=checkbox ] {
	margin: 0 16px;
	min-width: 24px;
}
.liinput .i-remove {
	margin-left: auto;
}
.divgraph {
	position: relative;
	height: 300px !important;
	margin-top: 3px;
	padding-top: 20px !important;
	background: #000;
}
.graphclose {
	position: absolute;
	color: var( --cm ) !important;
	text-align: right !important;
	top: -10px;
	right: 0;
}
.overplot .lines path {
	stroke-opacity: 0.75 !important;
}
#vu {
	position: relative;
	width: 230px;
	margin-bottom: 15px;
	font-family: Inconsolata;
}
#in,
#out {
	position: relative;
	line-height: 18px;
}
#out {
	margin-top: 20px;
}
#in::before,
#out::before {
	position: absolute;
	display: block;
	left: -60px;
	top: calc(50% - 7px);
	width: 45px;
	line-height: 16px;
	text-align: center;
	background: var( --cg );
	border-radius: 3px;
}
#in::before {
	color: #000;
	background: var( --cgl );
}
.db,
#gain {
	display: inline-block;
	width: 45px;
	line-height: 16px;
	color: var( --cw );
	text-align: center;
}
#mixers .db {
	margin: 0 0 0 10px;
}
#in::before {
	content: 'In';
}
#out::before {
	content: 'Out';
}
.vubar {
	position: absolute;
	width: 100%;
	height: 3px;
	background: var( --cga );
	margin-bottom: 10px;
}
.vubar.peak {
	width: 3px;
	transition-duration: 1s;
}
.vubar.peak.red {
	background: #f00 !important;
}
.vubar.rms {
	position: relative;
	width: 0;
	background: var( --cm );
	transition-duration: 0.1s;
}
#vugrid {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-left: calc( 100% * 0.0625 );
}
#vugrid a {
	display: inline-block;
	width: calc( 100% * 0.125 );
	height: 100%;
	margin-right: calc( 100% * 0.125 );
	border: 1px solid var( --cga );
	border-top: none;
	border-bottom: none;
}
#vugrid .g3 {
	border-left: 1px solid var( --cgl );
}
#vulabel {
	position: absolute;
	top: 16px;
	width: 100%;
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: var( --cg60 );
	background: #000;
	z-index: 0;
}
#vulabel a {
	display: inline-block;
	width: calc( 100% * 0.117 );
}
#vulabel a:nth-child(even) {
	color: var( --cg );
}
#vulabel .l4 {
	padding-left: 1px;
}
#vulabel .l5 {
	padding-left: 4px;
}
#vulabel .l6 {
	padding-left: 12px;
}
#vulabel .l7 {
	padding-left: 11px;
}
#divdevices {
	margin-top: 10px;
}
.flowchart {
	display: block;
	margin: 0 auto;
}
/* sortable */
.sortable-ghost {
	background: var( --cg60 );
}
.sortable-ghost .li-icon {
	visibility: hidden;
}
.sortable-ghost a,
.sortable-ghost .li2 {
	color: var( --cg ) !important;
}
.clipped::after,
.sortable-ghost::before {
	position: absolute;
	content: "\f601";
	font-family: rern;
	width: 40px;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	color: var( --cw );
}
.clipped {
	color: #f80;
}
.clipped::after {
	content: "\f515";
	bottom: 0;
	color: var( --cg60 );
}
.helpmenu {
	border-bottom: 1px solid var( --cga );
}
@media (max-width: 700px) {
	#mixers .i-inverted { display: none }
}
@media (max-width: 610px) {
	.liicon { display: none }
}
@media (max-width: 600px) {
	.liinput.column .i-add {
		float: right;
		width: 30px;
		margin-left: auto;
	}
}
@media (max-width: 570px) {
	input[ type=range ] { width: 100% }
	.divgain { display: none !important }
}
@media (max-width: 500px) {
	.helphead { display: none }
}

