@font-face {
	font-family: rern;
	src: url( '../fonts/rern.woff2' ) format( 'woff2' );
	font-display: block;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: Lato;
	src: url( '../fonts/Lato-Regular.woff2' ) format( 'woff2' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '../fonts/Lato-Light.woff2' ) format( 'woff2' );
	font-weight: 300;
	font-style: normal;
}
.fa {
	display: inline-block;
	font-family: rern;
	font-style: normal;
}
.fa-camilladsp::before { content: '\f59D'; position: absolute; color: var( --cg75 ); }
.fa-camilladsp::after { content: '\f59C'; position: relative; }
.fa-times::before { content: '\f51A' }
.fa-help::before { content: '\f560' }

.css-variables {
	--background-color: var( --cga );
	--button-background-color: var( --cg );
	--error-field-background-color: var( --cg );
	--error-text-color: transparent;
	--border-radius: 3px;
	--red  : #bb2828;
}
body {
	padding-top: 40px;
	background: #000000;
	font-family: Lato;
	color: var( --cw );
}
#root {
	max-width: 750px;
	margin: auto;
}
hr {
	border: none;
}
/* ---------------------------------------------------------------------------- */
.head {
	position: fixed;
	top: 0;
	height: 40px;
	width: 100%;
	line-height: 40px;
	background: var( --cga );
	box-shadow: 0px 4px 10px #000000;
	z-index: 10;
}
.head .page-icon {
	float: left;
	width: 40px;
	height: 40px;
	background: var( --cm );
	font-size: 24px;
	line-height: 38px;
	text-align: center;
}
.head span {
	margin-left: 15px;
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 20px;
}
#help {
	float: right;
	margin-right: 5px;
	font-size: 24px;
	color: var( --cg60 );
}
#close {
	float: right;
	font-size: 30px;
	color: var( --cm );
}
.head i {
	width: 40px;
	height: 40px;
	text-shadow: -1px 0 2px #000000;
}
#divhelp {
	text-align: right;
	max-width: 700px;
	margin: auto;
	padding: 20px 0;
}
#divhelp a {
	text-decoration: none;
	color: var( --cg60 );
}
#divhelp i {
	color: var( --cg60 );
}
#logo {
	float: left;
	font-size: 14px;
	text-align: left;
	color: var( --cg60 );
}
#logo img {
	width: 145px;
	margin-bottom: 5px;
}
#version {
	font-size: 12px;
}
/* ---------------------------------------------------------------------------- */
section.tabpanel {
	margin-bottom: 10px;
}
.react-tabs__tab-list {
	margin-block-end: 0;
}
.configapp {
	display: block;
	width: fit-content;
	margin: auto;
}
.tabpanel {
	float: left;
	width: 300px !important;
	padding-top: 10px !important;
}
.tabpanel,
.configtabs {
	display: block;
	padding: 0 5px 0 5px;
}
.configapp>:last-child {
	margin: 0;
}
.configtabs .tabpanel {
	width: 400px !important;
	min-height: calc( 100vh - 130px );
	background: var( --cgd );
	padding-bottom: 40px;
}
.tabpanel img {
	display: none;
}
.react-tabs__tab {
	width: 80px;
	padding: 0;
	line-height: 30px;
	text-align: center;
}
.react-tabs__tab-list .react-tabs__tab--selected {
	border: none;
	background: var( --cg );
}
.box {
	border: 1px solid var( --cg );
}
#react-tabs-5 legend .setting-label {
	min-width: 35px;
}
#react-tabs-5 .horizontally-spaced-content legend .setting-label {
	min-width: 130px;
}
#react-tabs-5 .box div:not(.button) {
	justify-content: left !important;
}
#react-tabs-5 .setting-label {
	min-width: 50px;
	letter-spacing: 0;
}
#react-tabs-5 .horizontally-spaced-content div svg {
	width: 36px !important;
}
.configtabs .box div div:not(.button) {
	max-width: 240px;
}
section .horizontally-spaced-content:first-of-type div:first-child {
	width: 110px !important;
}
.horizontally-spaced-content {
	letter-spacing: 2px;
}
legend {
	margin-left: -2px;
	font-size: 18px;
}
legend label {
	letter-spacing: 0;
	font-size: 16px;
}
.two-column-grid .alignRight {
	width: 170px;
	text-align: right;
}
.setting,
.alignRight {
	color: var( --cg60 );
}
.setting-label {
	width: 50%;
	min-width: 145px;
}
.config-status {
	margin: 0;
}
/* ---------------------------------------------------------------------------- */
input,
select {
	margin: 3px 0;
	padding: 0 8px !important;
	font-family: Lato;
	font-size: 16px;
	border: solid 1px var( --cg ) !important;
}
input[type=text] {
	width: 150px !important;
}
input[data-tip='Mixer name, must be unique'] {
	width: 150px !important;
}
#react-tabs-5 input:not([data-tip='Mixer name, must be unique']) {
	width: 55px !important;
}
select {
	width: 170px !important;
	min-width: 170px;
}
input[type=number] {
	width: 75px !important;
}
input[type=checkbox] {
	vertical-align: -2px;
}
input[type=text]:focus {
	outline: solid 2px var( --cg60 );
}
input[type=range] {
	--gloss: radial-gradient( 225% 90% at 100% 0%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	--wkgloss: -webkit-radial-gradient( 100% 0%, 225% 90%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	--track: linear-gradient( 90deg, transparent 10px, var( --cgl ) 10px, var( --cgl ) calc( 100% - 10px ), transparent 10px );
	--trackborder : 1px solid var( --cgd );
	width: 100% !important;
	height: 4px;
	margin: 23px 0 20px 0 !important;
	background: var( --cga );
	-webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
	height: 36px;
	width: 36px;
	margin-top: -18px;
	border: none;
	border-radius: 3px;
	background: var( --gloss );
	background: var( --wkgloss );
	background-color: var( --cm );
	-webkit-appearance: none;
	box-shadow: -2px 2px 4px #000000;
}
input[type=range]::-moz-range-thumb {
	height: 36px;
	width: 36px;
	border: none;
	border-radius: 3px;
	background: var( --gloss );
	background: var( --wkgloss );
	background-color: var( --cm );
	box-shadow: -2px 2px 4px #000000;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	margin: -10px;
	height: 4px;
	background: var( --track );
	border: var( --trackborder );
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: var( --track );
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 2px;
	background: var( --track );
	border: var( --trackborder );
}
/* ---------------------------------------------------------------------------- */
.split-20-80 div:nth-child( 1 ) {
	width: 28px;
	text-align: right;
}
.split-20-80 div:nth-child( 2 ) {
	margin: 0 6px 0 -20px;
}
.rc-progress-line-path {
	stroke-width: 2;
	stroke: var( --cml );
}
.rc-progress-line-trail {
	stroke-width: 2;
	stroke: var( --cg );
}
/* ---------------------------------------------------------------------------- */
.button {
	border: none;
	background-color: var( --cg ) !important;
	background: radial-gradient( 160% 100% at 50% -50%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	background: -webkit-radial-gradient( 50% -50%, 160% 200%,   hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	text-shadow: -1px 1px 2px #000000;
}
section .button:nth-of-type( 2 ),
section .button:nth-of-type( 3 ) {
	width:36px;
	height: 36px;
}
.smallbutton {
	width: 36px !important;
	height: 36px !important;
}
.smallbutton svg {
	width: 36px !important;
}
.button-with-text {
	padding: 0px 10px;
	font-size: 16px;
	justify-content: left;
	text-shadow: -1px 1px 2px #000000;
}
.configtabs .button-with-text {
	width: 225px !important;
	height: 36px;
	background: none;
}
.two-column-grid:nth-of-type( 2 ) { /* Fetch and Apply button */
	display: block;
	text-align: center;
}
section:first-of-type .button-with-text { /* Fetch and Apply button */
	display: none;
	width: 70px !important;
	height: 34px;
	margin: 5px;
	line-height: 34px;
	font-size: 14px;
	text-align: center;
}
section:first-of-type .button-with-text:nth-of-type( 2 ) { /* Apply button */
	background-color: var( --cm ) !important;
}
.highlighted-button,
.highlighted-button:active {
	background-color: var( --cm ) !important;
}
svg {
	-webkit-filter: drop-shadow( -1px 1px 2px #000000 );
	filter: drop-shadow( -1px 1px 2px #000000 );
}
/* ---------------------------------------------------------------------------- */
[data-tip='Delete selected files<br>Select at least one file first!'],
[data-tip='Delete this filter'],
[data-tip='Delete this mapping'],
[data-tip='Delete this mixer'],
[data-tip='Delete this source'],
[data-tip='Delete this step'],
[data-tip='Remove this filter from the list'] {
	color: var( --red ) !important;
}
.button[data-tip]:not(.highlighted-button) {
	background-color: var( --cg ) !important;
}
/* ---------------------------------------------------------------------------- */
@media (max-width: 740px) {
	#divhelp { margin: 0 20px }
}
@media (max-width: 710px) {
	.versions { display: none }
}
@media (max-width: 450px) {
	.head span { letter-spacing: 12px; }
}
@media (max-width: 400px) {
	.head span {
		margin-left: 10px;
		letter-spacing: 5px;
	}
}

.button:hover {
	background-color: var( --cga ) !important;
	border: none;
}
.highlighted-button:hover,
section:first-of-type .button-with-text:nth-of-type( 2 ):hover {
	background-color: var( --cma ) !important;
}
.head i,
#divhelp i,
#logo,
input[type=range] {
	cursor: pointer;
}

