@font-face {
	font-family: rern;
	src: url( '../fonts/rern.woff2' ) format( 'woff2' );
	font-display: block;
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: Lato;
	src: url( '../fonts/Lato-Regular.woff2' ) format( 'woff2' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '../fonts/Lato-Light.woff2' ) format( 'woff2' );
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Inconsolata;
	src: url('../fonts/Inconsolata.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
.fa {
	display: inline-block;
	font-family: rern;
	font-style: normal;
}
.fa-camilladsp::before { content: '\f59D'; position: absolute; color: var( --cg75 ); }
.fa-camilladsp::after { content: '\f59C'; position: relative; }
.fa-help::before { content: '\f560' }
.fa-info-circle::before { content: '\f561' }
.fa-times::before { content: '\f51A' }

.css-variables {
	--background-color: var( --cg );
	--button-add-icon-color: #46c846;
	--button-background-color: var( --cg );
	--error-field-background-color: #bb2828 !important;
	--border-radius: 3px;
	--gain-color: hsl( 200 100% 45% );
	--phase-color: hsl( 0 40% 55% );
	--success-text-color: var( --cml );
}
body {
	padding-top: 40px;
	font-family: Lato;
	font-size: 16px;
	color: var( --cw );
	background: #000000;
}
#root {
	max-width: 700px;
	margin: auto;
}
/* head + help ------------------------------------------------------------------ */
.head {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: var( --cga );
	box-shadow: 0px 4px 10px #000000;
	z-index: 10;
}
.head .page-icon {
	float: left;
	width: 40px;
	height: 40px;
	font-size: 24px;
	line-height: 38px;
	text-align: center;
	background: var( --cm );
}
.head span {
	margin-left: 15px;
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 20px;
}
#help {
	float: right;
	margin-right: 5px;
	font-size: 24px;
	color: var( --cg60 );
}
#close {
	float: right;
	font-size: 30px;
	color: var( --cm );
}
.head i {
	width: 40px;
	height: 40px;
	text-shadow: -1px 0 2px #000000;
}
#divhelp {
	max-width: 700px;
	margin: auto;
	padding: 20px 0;
	text-align: right;
}
#divhelp a {
	color: var( --cg60 );
	text-decoration: none;
}
#divhelp i {
	color: var( --cg60 );
}
#divhelp i {
	margin: 0 2px
}
#logo {
	position: absolute;
	font-size: 14px;
	text-align: left;
	color: var( --cg60 );
}
#logo img {
	width: 145px;
	margin-bottom: 5px;
}
#version {
	font-size: 12px;
}
/* common --------------------------------------------------------------------- */
/* main container */
.configapp {
	display: block;
	padding: 5px 0;
}
.configapp:after {
	display: block;
	content: '';
	clear: both;
}
.box {
	margin: 5px 0;
	padding: 10px;
	border: 1px solid var( --cg );
}
legend {
	width: fit-content;
	font-size: 18px;
	letter-spacing: 2px;
}
legend label {
	font-size: 16px;
	letter-spacing: 0;
}
.two-column-grid {
	width: fit-content;
	margin: auto;
}
.setting,
.alignRight {
	color: var( --cg60 );
}
hr {
	border: none;
}
/* ---------------------------------------------------------------------------- */
input,
select {
	margin: 4px 0;
	padding: 0 5px !important;
	font-family: Lato;
	font-size: 16px;
	border: solid 1px var( --cgl ) !important;
}
input[type=text] {
	width: 150px !important;
}
input[data-tip='Mixer name, must be unique'] {
	width: 150px !important;
}
select {
	width: 100% !important;
	max-width: 175px;
	padding: 0 !important;
}
input[type=number] {
	width: 70px !important;
}
input[type=checkbox] {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	margin: 4px 0 !important;
	vertical-align: -12px;
	border: none;
	border-radius: 3px;
	background-color: var(--cg) !important;
	background: radial-gradient( 160% 100% at 50% -50%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	background: -webkit-radial-gradient( 50% -50%, 160% 200%,   hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
}
input:checked {
	background-color: var( --cm ) !important;
}
input[type=text]:focus {
	outline: solid 2px var( --cg60 );
}
input[type=range] {
	--gloss: radial-gradient( 225% 90% at 100% 0%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	--wkgloss: -webkit-radial-gradient( 100% 0%, 225% 90%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	--track: linear-gradient( 90deg, transparent 10px, var( --cg ) 10px, var( --cg ) calc( 100% - 10px ), transparent 10px );
	--trackborder : 1px solid var( --cgd );
	display: block;
	width: 270px !important;
	height: 4px;
	margin: 24px auto !important;
	padding: 0 9px !important;
	background-color: var( --cga ) !important;
	-webkit-appearance: none;
}
@supports (-moz-appearance:none) {
	input[type=range] { padding: 0 !important } 
}
input[type=range]::-webkit-slider-thumb {
	height: 36px;
	width: 36px;
	margin-top: -18px;
	border: none;
	border-radius: 3px;
	background: var( --gloss );
	background: var( --wkgloss );
	background-color: var( --cm );
	-webkit-appearance: none;
	box-shadow: -2px 2px 4px #000000;
}
input[type=range]::-moz-range-thumb {
	height: 36px;
	width: 36px;
	border: none;
	border-radius: 3px;
	background: var( --gloss );
	background: var( --wkgloss );
	background-color: var( --cm );
	box-shadow: -2px 2px 4px #000000;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	margin: -10px;
	height: 4px;
	background: var( --track );
	border: var( --trackborder );
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: var( --track );
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 2px;
	background: var( --track );
	border: var( --trackborder );
}
input[type=range]:disabled::-webkit-slider-thumb {
	background-color: var( --cmd );
}
input[type=range]:disabled::-moz-range-thumb {
	background-color: var( --cmd );
}

/* ---------------------------------------------------------------------------- */
.button {
	border: none;
	background-color: var( --cg ) !important;
	background: radial-gradient( 160% 100% at 50% -50%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	background: -webkit-radial-gradient( 50% -50%, 160% 200%,   hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	text-shadow: -1px 1px 2px #000000;
	width:36px;
	height: 36px;
}
.highlighted-button,
.highlighted-button:active {
	background-color: var( --cm ) !important;
}
svg {
	-webkit-filter: drop-shadow( -1px 1px 2px #000000 );
	filter: drop-shadow( -1px 1px 2px #000000 );
}
.smallbutton {
	width: 36px !important;
	height: 36px !important;
}
.smallbutton svg {
	width: 36px !important;
}
.button-with-text {
	padding: 0px 10px;
	font-size: 16px;
	justify-content: left;
	text-shadow: -1px 1px 2px #000000;
}
.button[data-tip]:not(.highlighted-button) {
	background-color: var( --cg );
}
/* volume + status ------------------------------------------------------------ */
section.tabpanel {
	position: fixed;
	display: block;
	float: left;
	width: 270px !important;
	margin: auto;
	padding: 16px 10px 0 10px;
}
section.tabpanel img {
	display: none;
}
section.tabpanel .smallbutton {
	margin-top: -20px;
}
section.tabpanel .box {
	position: relative;
	max-width: calc( 100vw - 50px );
	margin-bottom: 20px;
	padding: 10px 0;
	border: none;
}
section.tabpanel legend {
	padding: 0;
}
section.tabpanel legend .horizontally-spaced-content {
	width: 270px;
	border-bottom: 1px solid var( --cg );
}
/* vu + volume bar  */
section.tabpanel .split-20-80 {
	grid-template-columns: 14% 85%;
	column-gap: 0;
	line-height: 15px;
}
.split-20-80 div:first-child {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: right;
	padding-right: 5px;
	background: #000000;
	z-index: 1;
}
section.tabpanel .split-20-80 svg {
	position: relative;
	margin: 0 -1px 0 -3px;
}
.rc-progress-line-path {
	stroke-width: 2;
	stroke: var( --cml );
}
.rc-progress-line-trail {
	stroke-width: 2;
	stroke: var( --cg );
}

section .horizontally-spaced-content:first-of-type div:first-child {
	width: 100% !important;
	font-family: Inconsolata;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
}
section.tabpanel .box:last-of-type div:not([class]):nth-of-type( 3 ) {
	padding-top: 10px;
	text-align: left !important;
	color: var( --cg60 );
}
section.tabpanel .box:last-of-type div:not([class]):nth-of-type( 3 ) input {
	float: left;
	margin: -3px 6px 0 0 !important;
}
section.tabpanel .box:last-of-type .two-column-grid {
	display: block;
	margin-top: 15px;
	text-align: center;
}

/* Fetch and Apply button */
section .two-column-grid:nth-of-type( 2 ) {
	display: block;
	text-align: center;
}
section:first-of-type .button-with-text {
	display: inline-block;
	width: 70px !important;
	height: 34px;
	margin: 0 5px;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
}
section.tabpanel .box:nth-last-of-type( 2 ) .button {
	position: absolute;
	top: -41px;
	left: 105px;
	width: 40px !important;
	padding-top: 7px;
	line-height: 0;
	background: none !important;
	color: transparent;
	text-shadow: none;
}
section.tabpanel .box:nth-last-of-type( 2 ) .button:before {
	content: '\f50A';
	font-family: rern;
	font-size: 18px;
	line-height: 20px;
	color: var( --cg60 );
}
section.tabpanel .box:nth-last-of-type( 2 ) .button:hover {
	background: none !important;
}
section.tabpanel .box:last-of-type .button {
	white-space: break-spaces;
	overflow: hidden;
	width: 75px !important;
	padding: 0px 20px;
}
section.tabpanel .box:last-of-type .button:last-of-type {
	background-color: var( --cm ) !important;
}
.config-status {
	position: absolute;
	top: -31px;
	right: -4px;
	font-family: Inconsolata;
	font-weight: bold;
}
.versions {
	display: none;
}
/* config ----------------------------------------------------------------- */
.configtabs {
	display: block;
	width: 410px;
	max-width: 100vw;
	margin-left: 300px !important;
	padding: 0;
}
.configtabs .tabpanel {
	width: 400px !important;
	min-height: calc( 100vh - 140px );
	padding: 50px 5px 40px 5px;
	background: var( --cgd );
}
.react-tabs__tab-list {
	position: fixed;
	width: 410px;
	margin-top: -6px;
	padding-top: 10px;
	background: #000000;
	box-shadow: 0px 4px 10px #000000;
	border: none;
	z-index: 1;
}
.react-tabs__tab {
	position: static;
	width: calc( 100% / 5 - 1px );
	padding: 0;
	line-height: 36px;
	text-align: center;
	text-shadow: -1px 1px 2px #000000;
	background: var( --cga);
	border: none;
	border-radius: 5px 5px 0 0;
	border-right: 1px solid #000000;
}
.react-tabs__tab-panel:nth-of-type( 5 ) {
	width: calc( 100% / 5 );
	border: none;
}
.react-tabs__tab-list .react-tabs__tab--selected {
	background: var( --cgl );
}
.react-tabs__tab-list span {
	display: none;
}
/* Devices ------------------------------ */
.react-tabs__tab-panel:nth-of-type( 1 ) .setting-label {
	width: 50%;
	min-width: 160px;
}
.react-tabs__tab-panel:nth-of-type( 1 ) input:not[type=checkbox] {
	width: 100% !important;
	max-width: 150px;
}
.react-tabs__tab-panel:nth-of-type( 1 ) select {
	width: 100% !important;
	max-width: 170px;
}
/* Filters ------------------------------- */
label.setting[style*="text-align"] {
	text-align: left !important;
}
label.setting select:first-child {
	width: 125px !important;
	margin-left: 23px;
}
.react-tabs__tab-panel:nth-of-type( 2 ) .button[data-tip*="Delete"] {
	margin-top: auto;
}
/* Mixers ------------------------------- */
.react-tabs__tab-panel:nth-of-type( 3 ) div[style*='display: flex; justify-content: space-evenly;'] {
	margin: 10px 0;
	padding: 0 25px 0 15px;
	background: var( --cga );
}
.react-tabs__tab-panel:nth-of-type( 3 ) select {
	max-width: 200px;
}
.react-tabs__tab-panel:nth-of-type( 3 ) legend .setting-label {
	min-width: 35px;
}
.react-tabs__tab-panel:nth-of-type( 3 ) .horizontally-spaced-content legend .setting-label {
	min-width: 130px;
}
.react-tabs__tab-panel:nth-of-type( 3 ) .setting-label {
	letter-spacing: 0;
}
.react-tabs__tab-panel:nth-of-type( 3 ) .box .box input {
	width: 60px !important;
}
.react-tabs__tab-panel:nth-of-type( 3 ) .horizontally-spaced-content div svg {
	width: 36px !important;
}
/* Pipeline ----------------------------- */
.react-tabs__tab-panel:nth-of-type( 4 ) legend {
	margin-bottom: 5px;
	padding-left: 0;
}
.react-tabs__tab-panel:nth-of-type( 4 ) legend label {
	margin-left: -4px;
}
.react-tabs__tab-panel:nth-of-type( 4 ) select {
	width: 170px !important;
}
.react-tabs__tab-panel:nth-of-type( 4 ) input[type=number] {
	width: 50px !important;
}
.react-tabs__tab-panel:nth-of-type( 4 ) .dropTargetParent > div > div:not(.horizontally-spaced-content) {
	position: absolute;
	top: 9px;
	left: 35px;
	letter-spacing: normal;
	color: var( --cw ) !important;
}
.react-tabs__tab-panel:nth-of-type( 4 ) .pipeline-channel {
	width: 100%;
	margin: 10px auto;
	line-height: 26px;
	letter-spacing: 2px;
	background: var( --cga );
}
.react-tabs__tab-panel:nth-of-type( 4 ) .box > div > .horizontally-spaced-content:last-of-type {
	margin-top: 10px;
}
/* Files -------------------------------- */
.react-tabs__tab-panel:nth-of-type( 5 ) .button-with-text {
	width: 100% !important;
	height: 36px;
}
.react-tabs__tab-panel:nth-of-type( 5 ) div:not([class]) {
	max-width: 215px !important;
}
.react-tabs__tab-panel:nth-of-type( 5 ) div:not([class]) .button-with-text {
	display: block;
	font-family: Inconsolata;
	line-height: 36px;
	text-align: center;
}
.react-tabs__tab-panel:nth-of-type( 5 ) input[type=text] {
	width: 100% !important;
	font-family: Inconsolata;
}
/* popup --------------------------------- */
#popup-root h3 {
	font-size: 18px;
	font-weight: normal;
}
textarea {
	padding: 5px;
	border: none;
	background: var( --cgd );
	font-family: Inconsolata;
	font-size: 15px;
	color: var( --cw );
}
textarea:focus-visible {
	outline: none;
}
.popup-overlay {
	background: rgba( 0, 0, 0, .85 );
}
.popup-content {
	padding: 0;
	border: none !important;
	border-radius: 6px !important;
	background-color: var( --cgd ) !important;
	box-shadow: 0px 0px 5px var( --cgl );
}
.popup-content div:not([class]) {
	float: right;
	text-align: center !important;
	color: transparent;
}
/*.popup-content div:nth-child( 2 ):not([class]):after {
	content: '\f51A';
	position: absolute;
	right: 0;
	width: 40px;
	font-family: rern;
	font-size: 30px;
	color: var( --cm );
}*/
/* ---------------------------------------------------------------------------- */
@media (max-width: 719px) {
	.react-tabs__tab-list li:first-child {
		left: 0;
		top: -40px;
		width: 100%;
		height: 42px;
		background: #000000;
		padding-top: 7px;
	}
	.configapp {
		padding: 22px 0;
	}
	#divhelp { margin: 0 20px }
	section.tabpanel {
		position: relative;
		float: none;
		min-width: 380px !important;
		margin: auto;
		padding: 0;
	}
	section.tabpanel legend .horizontally-spaced-content {
		width: 380px;
	}
	section.tabpanel .split-20-80 {
		margin-left: 55px;
	}
	.configtabs .tabpanel {
		width: 400px !important;
		padding: 15px 5px 5px 5px;
	}
	.configapp > :last-child {
		float: none;
		margin: 0 auto !important;
		padding-top: 40px;
	}
	.react-tabs__tab-list {
		position: sticky;
		top: 80px;
		background: #000;
		padding-top: 10px;
	}
	.popup-content {
		width: 100% !important;
		min-width: 100%;
	}
	section.tabpanel .split-20-80:before,
	section.tabpanel .split-20-80 div:after,
	section.tabpanel .split-20-80:after {
		left: 90px;
	}
}
@media (max-width: 490px) {
	.head span {
		margin-left: 10px;
		letter-spacing: calc( 100vw / 30 - 1px );
	}
}
@media (max-width: 440px) {
	.head span {
		letter-spacing: calc( 100vw / 50 - 3px );
	}
	.two-column-grid .alignRight {
		width: fit-content;
	}
	.react-tabs__tab-panel:nth-of-type( 5 ) div:not([class]) {
		max-width: calc( 100vw - 180px ) !important;
	}
}
/*@media (max-width: 430px) {
	section.tabpanel .split-20-80:before,
	section.tabpanel .split-20-80 div:after,
	section.tabpanel .split-20-80:after {
		left: calc( ( 100vw - 270px ) * 90px );
	}
}*/
/* ---------------------------------------------------------------------------- */
.button:hover {
	background-color: var( --cga ) !important;
	border: none;
}
.highlighted-button:hover,
section:first-of-type .button-with-text:nth-of-type( 2 ):hover {
	background-color: var( --cma ) !important;
}
.head i,
#divhelp i,
#logo,
input[type=range] {
	cursor: pointer;
}

