.head { z-index: 10 }
.react-tabs__tab:nth-child( 2 ) { z-index: 4 }
.react-tabs__tab:nth-child( 3 ) { z-index: 3 }
.react-tabs__tab:nth-child( 4 ) { z-index: 2 }
#divhelp,
#volume .label,
.dblabel,
.react-tabs__tab-list,
.react-tabs__tab:nth-child( 5 ) { z-index: 1 }
@media (max-width: 719px) { .tab-buttons::after { z-index: -1 } }

@font-face {
	font-family: Lato;
	src: url( '../fonts/Lato-Regular.woff2' ) format( 'woff2' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '../fonts/Lato-Light.woff2' ) format( 'woff2' );
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Inconsolata;
	src: url('../fonts/Inconsolata.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
code,
textarea,
.config-status,
.rangevalue,
.eqvalue,
.files div:not([class]) .button-with-text,
.files input[type=text],
.quick-config-switch .button,
#compactview .two-column-grid,
#fileconfig,
#popup-root text,
#status pre,
#volume .label {
	font-family: Inconsolata;
}

:root {
	--background-color: var( --cg );
	--button-add-icon-color: #46c846;
	--button-background-color: var( --cg );
	
	--button-remove-icon-color: #bd3e3e;
	--error-field-background-color: #bd3e3e !important;
	--error-text-color: #bd3e3e;
	--error-field-background-color: #bd3e3e;
	--red: #bd3e3e;
	
	--border-radius: 3px;
	--success-text-color: #46c846;
	--disabled-button-opacity: 0.4;
	--axes-color: #555;
	--gain-color: #0077b3;
	--phase-color: #bd3e3e;
	--impulse-color: #46c846;
	--text-color: var( --cw );
	--arrow-color: #555;
	--frame-background-color: #333;
	--block-background-color: rgb(200, 200, 200);
	--block-text-color: rgb(16, 10, 90);
}
html,
body  {
	background: #000000;
}
body {
	padding-top: 40px;
	font-family: Lato;
	font-size: 16px;
	color: var( --cw );
}
#root {
	max-width: 710px;
	margin: auto;
}

/* head + help ------------------------------------------------------------------ */
.head {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: var( --cga );
	box-shadow: var( --shadow-bar );
}
.head .page-icon {
	float: left;
	width: 40px;
	height: 40px;
	background: var( --cm );
}
.head .page-icon svg {
	width: 37px;
	margin: 6px 2px;
	filter: none;
}
.head span {
	margin-left: 15px;
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 20px;
}
#close,
#help {
	float: right;
	width: 26px;
	height: 26px;
	padding: 7px;
	color: var( --cg60 );
}
#close {
	width: 30px;
	height: 30px;
	padding: 5px;
	margin-right: 10px;
	color: var( --cm );
}
.head svg {
	filter: drop-shadow(-1px 1px 2px #000000);
}
#divhelp {
	position: sticky;
	top: 40px;
	max-width: 720px;
	margin: auto;
	padding: 20px 0;
	text-align: right;
	background: #000000;
}
#divhelp a {
	color: var( --cml );
	text-decoration: none;
}
#divhelp svg {
	width: 18px;
	vertical-align: -3px;
	color: var( --cg60 );
}
#logo {
	float: left;
}
#logo svg {
    width: 150px;
    height: 50px;
}
#version {
	font-size: 12px;
	text-align: left;
	color: var( --cg60 );
}
/* common --------------------------------------------------------------------- */
/* main container */
.configapp {
	display: block;
	padding: 5px 0;
}
.configapp::after {
	display: block;
	content: '';
	clear: both;
}
.box {
	margin: 5px 0;
	padding: 10px;
	border: 1px solid var( --cg );
}
legend {
	width: fit-content;
	font-size: 18px;
	letter-spacing: 2px;
}
legend label {
	font-size: 16px;
	letter-spacing: 0;
}
.two-column-grid {
	width: fit-content;
	margin: auto;
}
.setting,
.alignRight {
	color: var( --cg60 );
}
hr {
	border: none;
}
code {
	padding: 0px 5px;
	border-radius: 3px;
	color: var( --cg75 );
	white-space: pre;
	background: var( --cg );
}
.hide {
	display: none;
}
/* ---------------------------------------------------------------------------- */
input,
select {
	margin: 4px 0;
	padding: 0 5px !important;
	font-family: Lato;
	font-size: 16px;
	color: var( --cw ) !important;
}
input[type=text],
input[type=number] {
	border: 1px solid var( --cg );
	background-color: #000000;
}
input[type=text] {
	width: 150px !important;
}
input[type=text]:focus {
	outline: solid 2px var( --cg60 );
}
input[type=number] {
	width: 70px !important;
}
input[type=checkbox] {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	margin: 4px 0 !important;
	vertical-align: -12px;
	border: none;
	border-radius: 3px;
	background-color: var(--cg) !important;
	background: var( --glossy-btn );
}
input:checked {
	background-color: var( --cm ) !important;
}
input[type=range] {
	--track: linear-gradient( 90deg, transparent 10px, var( --cg ) 10px, var( --cg ) calc( 100% - 10px ), transparent 10px );
	--trackborder : 1px solid var( --cgd );
	display: block;
	width: 270px !important;
	height: 4px;
	margin: 20px auto !important;
	padding: 0 9px !important;
	background-color: var( --cga ) !important;
	-webkit-appearance: none;
}
@supports (-moz-appearance:none) {
	input[type=range] { padding: 0 !important } 
}
input[type=range]::-webkit-slider-thumb {
	height: 36px;
	width: 36px;
	margin-top: -18px;
	border: none;
	border-radius: 3px;
	background: var( --glossy-btn );
	background-color: var( --cm );
	-webkit-appearance: none;
	box-shadow: var( --shadow-btn );
}
input[type=range]::-moz-range-thumb {
	height: 36px;
	width: 36px;
	border: none;
	border-radius: 3px;
	background: var( --glossy-btn );
	background-color: var( --cm );
	box-shadow: var( --shadow-btn );
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	margin: -10px;
	height: 4px;
	background: var( --track );
	border: var( --trackborder );
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: var( --track );
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 2px;
	background: var( --track );
	border: var( --trackborder );
}
input[type=range]:disabled::-webkit-slider-thumb {
	background-color: var( --cmd );
}
input[type=range]:disabled::-moz-range-thumb {
	background-color: var( --cmd );
}
select {
	width: 100% !important;
	max-width: 175px;
	padding: 1px !important;
}
input[data-tip='Mixer name, must be unique'] {
	width: 150px !important;
}

/* ---------------------------------------------------------------------------- */
.button {
	border: none;
	background-color: var( --cg ) !important;
	background: var( --glossy-btn );
	text-shadow: var( --shadow-text );
	width:36px;
	height: 36px;
}
.highlighted-button,
.highlighted-button:active {
	background-color: var( --cm ) !important;
}
.button svg {
	-webkit-filter: drop-shadow( -1px 1px 2px #000000 );
	filter: drop-shadow( -1px 1px 2px #000000 );
}
.smallbutton {
	width: 36px !important;
	height: 36px !important;
}
.smallbutton svg {
	width: 36px !important;
}
.button-with-text {
	padding: 0px 10px;
	font-size: 16px;
}
#volume .button {
	float: right;
	margin: -18px 0 0 0;
}
#button-volumedn,
#button-undo {
	border-right: 1px solid var( --cga );
	margin-right: 0 !important;
	border-radius: 3px 0 0 3px;
	background: var( --glossy-btn-l );
}
#button-mute {
	border-radius: 0;
	border-right: 1px solid var( --cga );
	background: var( --glossy-btn-m );
}
#button-volumeup,
#button-redo {
	border-radius: 0 3px 3px 0;
	background: var( --glossy-btn-r );
}
/* compact view */
::marker {
	color: transparent;
}
.tab-buttons {
	position: absolute;
	left: -290px;
	width: 270px;
	height: 36px;
	background: #000;
	border-top: 10px solid #000;
	margin-top: -10px;
	box-shadow: 0px 4px 10px #000;
}
#button-compactview {
	display: none;
	float: none !important;
}
.button-compactview {
	margin-top: 0;
}
#button-undo,
#button-redo {
	float: right;
}
.tab-buttons svg {
	height: 24px !important;
	width: 24px !important;
}
/* compact page ------------------------------------------------------------ */
.react-tabs__tab--disabled {
	color: var( --cw );
}
.quick-config-switch .button {
	display: block;
	width: 200px;
	margin: 5px auto;
	line-height: 36px;
	text-align: center;
}
#compactview {
	width: 370px;
	margin-top: 3px !important;
	padding: 0;
}
#compactview legend {
	padding-left: 5px;
}
#compactview .two-column-grid {
	display: block;
	color: var( --cg60 );
}
/* Compact view button ------------------- */
#compactview .box,
#mainpanel .box {
	position: relative;
	max-width: calc( 100vw - 50px );
	margin-bottom: 20px;
	padding: 10px 0;
	border: none;
}
#compactview .box {
	margin-left: 3px;
}
#compactview #volume {
	margin-top: 21px;
}
#mainpanel legend {
	padding: 0;
}
#mainpanel legend .horizontally-spaced-content,
#compactview legend .horizontally-spaced-content {
	display: block !important;
	width: 270px;
	border-bottom: 1px solid var( --cg );
}
#compactview legend .horizontally-spaced-content {
	width: 360px;
}
.rangevalue {
	width: 100% !important;
	min-width: 110px;
	font-size: 16px;
	font-weight: 300;
	letter-spacing: 0;
	text-align: center;
}
.eq {
	position: relative;
	height: 70px;
}
.rangelabel {
	position: absolute;
}
#compactview .rangelabel {
	left: 15px;
}
.rangevalue.disabled {
	color: var( --cgl )
}
/* volume + status ------------------------------------------------------------ */
#mainpanel {
	display: block;
	float: left;
	width: 270px !important;
	margin: auto;
	padding: 60px 10px 0 10px;
}
#mainpanel .split-20-80 {
	position: relative;
	margin: 10px 0;
	grid-template-columns: 13% 87%;
	column-gap: 0;
}
#volume .label {
	display: flex;
	height: 100%;
	padding-right: 3px;
	justify-content: right;
	align-items: center;
	background: #000000;
	outline: 3px solid #000000;
}
.dblabel {
	position: absolute;
	top: -5px;
	right: 11px;
	width: 242px;
	line-height: 16px;
}
.dblabel.lower {
	top: auto;
	bottom: -4px;
}
.dblabel i {
	display: inline-block;
	width: 47.3px;
	font-size: 13px;
	font-family: 'Inconsolata';
	font-style: normal;
	text-align: center;
	color: var( --cg60 );
}
.dblabel i:last-of-type {
	width: 51px;
}
#log {
	position: absolute;
	top: -26px;
	right: 0;
	width: 24px !important;
	font-size: 22px;
	text-align: center;
	background: none !important;
	color: var( --cg60 );
	text-shadow: none;
}
#compactview {
	right: 5px;
}
#status pre {
	margin: 0px 0;
	padding: 0 5px;
	line-height: 26px;
	background: var( --cga );
}
#fileconfig {
	width: 100% !important;
	line-height: 26px;
	background: var( --cga );
}
#applyauto {
	display: block;
	margin-top: 20px;
	color: var( --cg60 );
}
#applyauto input {
	float: left;
	margin: -3px 6px 0 0 !important;
}
/* Fetch and Apply button */
#config .two-column-grid {
	display: block;
	margin-top: 15px;
	text-align: center;
}
#config .button-with-text {
	display: inline-block;
	width: 70px !important;
	height: 34px;
	margin: 0 5px;
	font-size: 14px;
	line-height: 34px;
	text-align: center;
}
#button-apply {
	background-color: var( --cm ) !important;
}
.config-status {
	position: absolute;
	top: -30px;
	right: -4px;
}
/* Panels ----------------------------------------------------------------- */
.configtabs {
	display: block;
	float: none;
	width: 410px;
	max-width: 100vw;
	margin-left: 300px !important;
	padding: 0;
}
.configtabs .tabpanel {
	width: 400px !important;
	min-height: calc( 100vh - 140px );
	padding: 55px 5px 40px 5px;
	background: var( --cgd );
}
.react-tabs__tab-list {
	position: fixed;
	width: 410px;
	margin: -6px 0 0 0;
	padding-top: 10px;
	background: #000000;
	box-shadow: 0px 4px 10px #000000;
	border: none;
}
.react-tabs__tab {
	position: relative;
	bottom: 0;
	width: calc( 100% / 5 );
	margin-left: -5px;
	padding: 0 0 0 5px;
	line-height: 36px;
	text-align: center;
	text-shadow: var( --shadow-text );
	background: var( --cga );
	border: none;
	border-radius: 3px 3px 0 0;
	box-shadow: 2px 0px 5px #000;
}
.react-tabs__tab:nth-child( 2 ) {
	width: calc( 100% / 5 );
	margin-left: 0;
	padding: 0;
}
.react-tabs__tab:focus:after {
	content: '';
	height: 0;
	position: absolute;
}
.react-tabs__tab-list .react-tabs__tab--selected {
	background: var( --cgl );
}
.react-tabs__tab-list span {
	display: none;
}
legend {
	padding-inline-start: 0;
	padding-inline-end: 0;
}
.devices legend,
.files legend {
	padding-inline-start: 4px;
	padding-inline-end: 4px;
}
/* Devices ------------------------------ */
.devices .setting-label {
	width: 50%;
	min-width: 160px;
}
.devices input:not[type=checkbox] {
	width: 100% !important;
	max-width: 150px;
}
.devices select {
	width: 100% !important;
	max-width: 170px;
}
/* Filters ------------------------------- */
label.setting[style*="text-align"] {
	text-align: left !important;
}
label.setting select:first-child {
	width: 125px !important;
	margin-left: 23px;
}
.filters .button[data-tip*="Delete"] {
	margin-top: auto;
}
/* Mixers ------------------------------- */
.mixers div[style*='display: flex; justify-content: space-evenly;'] {
	margin: 10px 0;
	padding: 0 25px 0 15px;
	background: var( --cga );
}
.mixers select {
	max-width: 200px;
}
.mixers legend .setting-label {
	min-width: 35px;
}
.mixers .horizontally-spaced-content legend .setting-label {
	min-width: 130px;
}
.mixers .setting-label {
	letter-spacing: 0;
}
.mixers .box .box input {
	width: 60px !important;
}
.mixers .horizontally-spaced-content div svg {
	width: 36px !important;
}
/* Pipeline ----------------------------- */
.pipeline legend {
	margin-bottom: 5px;
	padding-left: 0;
}
.pipeline legend label {
	margin-left: -4px;
}
.pipeline select {
	width: 170px !important;
}
.pipeline input[type=number] {
	width: 50px !important;
}
.pipeline .dropTargetParent > div > div:not(.horizontally-spaced-content) {
	position: absolute;
	top: 9px;
	left: 35px;
	letter-spacing: normal;
	color: var( --cw ) !important;
}
.pipeline .pipeline-channel {
	width: 100%;
	margin: 10px auto;
	line-height: 26px;
	letter-spacing: 2px;
	background: var( --cga );
}
.pipeline .controls {
	margin-top: 10px;
}
/* Files -------------------------------- */
.files .button-with-text {
	width: 100% !important;
	height: 36px;
}
.files div:not([class]) {
	max-width: 215px !important;
}
.files div:not([class]) .button-with-text {
	display: block;
	line-height: 36px;
	text-align: center;
}
.files input[type=text] {
	width: 100% !important;
}
/* popup --------------------------------- */
.popup-overlay {
	background: #000000 !important;
}
.popup-content {
	background-color: #000000 !important;
}
#popup-root h3 {
	margin: 0 0 10px 0;
	width: 100%;
	text-align: center !important;
	letter-spacing: 10px;
	text-indent: 20px;
	font-weight: normal;
	color: var( --cw );
}
#popup-root .resetzoom,
.closepopup {
	position: absolute;
	top: 0;
	right: 0;
	width: 28px;
	color: var(--cm);
}
#popup-root .resetzoom {
	left: 0;
	width: 120px;
	color: var( --cgl );
}
.resetzoom svg {
	width: 28px;
	vertical-align: -8px;
	color: var(--cm);
}
.filters .resetzoom {
	margin: 20px 0 -10px;
	color: var( --cgl );
}
textarea {
	padding: 5px;
	border: none;
	background: var( --cgd );
	font-size: 15px;
	color: var( --cw );
	box-shadow: 0px 0px 5px var( --cgl );
}
textarea:focus-visible {
	outline: none;
}
/* ---------------------------------------------------------------------------- */
@media (max-width: 719px) {
	#help,
	#divhelp {
		display: none !important;
	}
	.tab-buttons {
		left: 0;
		top: -40px;
		width: 100%;
		height: 42px;
		background: #000000;
		padding-top: 7px;
	}
	.tab-buttons::after {
		content: '';
		position: fixed;
		top: 40px;
		width: 400px;
		height: 45px;
		background: #000000;
		box-shadow: 0px 4px 5px #000000;
	}
	#button-compactview {
		position: fixed;
		display: flex;
		top: 48px;
	}
	#divhelp {
		margin: 0 20px;
	}
	#mainpanel {
		position: relative;
		float: none;
		min-width: 355px !important;
		margin: auto;
		padding-top: 60px;
	}
	#mainpanel legend .horizontally-spaced-content {
		width: 360px;
	}
	#mainpanel .split-20-80 {
		width: 270px;
		margin: 0 auto;
	}
	.configtabs .tabpanel {
		width: 360px !important;
		padding: 15px 5px 5px 5px;
	}
	.configtabs {
		float: none;
		width: 370px;
		margin: 0 auto !important;
		padding-top: 40px;
	}
	.react-tabs__tab-list {
		position: sticky;
		top: 80px;
		width: 370px;
		padding-top: 10px;
		background: #000;
	}
	.popup-content {
		width: 100% !important;
		max-width: calc( 100% - 10px);
		min-width: 100%;
	}
	.popup-content canvas {
		max-width: calc( 100% - 10px);
	}
	.closepopup {
		right: 15px;
	}
	.resetzoom {
		left: 5px !important;
	}
	.resetzoom span {
		display: none;
	}
	label.setting select:first-child {
		width: 107px !important;
	}
	.mixers .box .box input {
		width: 50px !important;
	}
	.files div:not([class]) {
		max-width: 180px !important;
	}
}
@media (max-width: 490px) {
	.head span {
		margin-left: 10px;
		letter-spacing: calc( 100vw / 30 - 1px );
	}
}
/* ---------------------------------------------------------------------------- */
.button:hover {
	background-color: var( --cga ) !important;
	border: none;
}
.highlighted-button:hover,
#button-apply:hover {
	background-color: var( --cma ) !important;
}
.closepopup,
.head svg,
.resetzoom,
#applyauto,
#log,
#logo {
	cursor: pointer;
}
