.tab {
	margin-top: -16px;
}
.tab .entries {
	margin-top: 0;
}
.tab .entries i:not( .i-add ) {
	float: left;
}
.tab .entries .i-remove {
	float: right !important;
}
.tab .entries .li1 {
	padding: 5px 10px 0 0;
	line-height: 20px;
}
.tab .entries .li2 {
	font-size: 14px;
	line-height: 14px;
	color: var( --cg60 );
}
.tab .select2-container {
	margin-bottom: 1px;
}
#divsampling .statuslist {
	margin-top: 15px;
}
#divenable_rate_adjust {
	margin-top: 10px;
}
.section hr {
	border-bottom-color: var( --cga );
}
.col-r hr {
	margin-left: 0;
	max-width: 230px;
}
.tablemapping {
	border-collapse: collapse !important;
}
.tablemapping i {
	cursor: pointer;
}
.trhead {
	border: 1px solid var( --cgl );
	border-left: none;
	border-right: none;
}
.trhead td,
.trsource td:nth-child( n + 3 ) {
	text-align: center !important;
}
.trsource {
	height: 46px !important;
}
.trhead td {
	width: 50px;
}
.trhead td:nth-child( -n + 2 ) {
	width: 75px;
}
.trsource td:nth-child( -n + 2 ) {
	padding: 0 5px !important;
}
.trsource input[ type=checkbox ] {
	margin: 3px 0;
}
.lihead {
	letter-spacing: 5px;
	font-weight: 300;
	color: var( --cw ) !important;
}
.lihead .select2 {
	float: none;
	display: inline-block;
	width: 65px !important;
}
.lihead .i-back {
	float: right !important;
	margin-right: 0;
}
.lihead.files {
	margin-top: 20px;
}
.tab li .i-add {
	color: var( --cw );
}
.tab li .i-back {
	color: var( --cm );
}
.tab .i-add,
.tab .i-remove {
	font-size: 22px !important;
	cursor: pointer;
}
tr .i-add,
tr .i-remove {
	width: 40px !important;
	line-height: 46px;
}
.select2-container.channel {
	width: 65px !important;
}

.tab li:hover {
	background: none !important;
}
.tab .divdest {
	padding-bottom: 20px;
}
.liinput {
	display: flex !important;
	align-items: center;
	padding-top: 0 !important;
}
.liinput.main,
.liinput.main:hover {
	background: var( --cga ) !important;
	border: none !important;
}
.liinput div {
	display: inline-block;
	width: 65px;
	min-width: 65px;
	text-align: center;
}
.liinput div:nth-child( 2 ) {
	margin-left: 10px;
}
.liinput div:nth-child( 3 ) {
	width: 230px !important;
	margin: 0 10px;
}
.liinput.main div:first-child {
	text-align: right;
}
.liinput.main div:nth-child( 2 ) {
	text-align: unset;
}
.liinput .name {
	width: 115px;
}
.liinput.main div:first-child,
.liinput .select2-container {
	width: 65px !important;
	min-width: 65px;
}
.liinput .selection,
.liinput .select2-selection,
.liinput .select2-selection__rendered {
	width: 100% !important;
	height: 40px !important;
}
.liinput input[ type=number ] {
	width: 65px;
	margin-left: 10px;
	text-align: center;
	border: 1px solid var( --cg );
}
.liinput input[ type=range ] {
	--track: linear-gradient( 90deg, transparent 10px, var( --cga ) 10px, var( --cga ) calc( 100% - 10px ), transparent 10px );
	--trackborder : 1px solid var( --cga );
	max-width: 230px;
	margin: 0 10px;
}
.liinput input[ type=checkbox ] {
	margin: 0 20px;
	min-width: 24px;
}
.liinput .i-remove {
	margin-left: auto;
}
.ligraph {
	height: fit-content !important;
	border-color: var( --cg ) !important;
}
.mutemain {
	width: 35px;
	min-width: 35px !important;
	padding: 0;
}
.mutemain i {
	width: 35px;
	line-height: 35px;
	color: var( --cw );
}

/* sortable */
.sortable-ghost {
	background: var( --cg60 );
}
.sortable-ghost .li-icon {
	visibility: hidden;
}
.sortable-ghost a,
.sortable-ghost .li2 {
	color: var( --cg ) !important;
}
.sortable-ghost::before {
	position: absolute;
	content: "\f601";
	font-family: rern;
	width: 40px;
	font-size: 22px;
	line-height: 30px;
	text-align: center;
	color: var( --cw );
}

@media (max-width: 600px) {
	.liinput.column .i-add {
		float: right;
		width: 30px;
		margin-left: auto;
	}
}
@media (max-width: 500px) {
	.i-help.helphead { display: none }
}
@media (max-width: 515px) {
	.liinput div:nth-child( 3 ),
	.tab input[ type=range ] {
		max-width: calc( 100% - 300px );
	}
}
