:root {
	--cd   : hsl( 200, 100%, 35% ); /* default main*/
	--cw   : hsl(   0,   0%, 90% );
	
	--h    : 200;
	--s    : 100%;
	--ml60 : 60%;
	--ml40 : 40%;
	--ml35 : 35%;
	--ml30 : 30%;
	--ml20 : 20%;
	
	--cg75 : hsl( var( --h ), 3%, 75% );
	--cg70 : hsl( var( --h ), 3%, 70% );
	--cg60 : hsl( var( --h ), 3%, 60% );
	--cg50 : hsl( var( --h ), 3%, 50% );
	--cgl  : hsl( var( --h ), 3%, 40% );
	--cg   : hsl( var( --h ), 3%, 30% );
	--cga  : hsl( var( --h ), 3%, 20% );
	--cgd  : hsl( var( --h ), 3%, 10% );
	--cm60 : hsl( var( --h ), var( --s ), var( --ml60 ) );
	--cml  : hsl( var( --h ), var( --s ), var( --ml40 ) );
	--cm   : hsl( var( --h ), var( --s ), var( --ml35 ) );
	--cma  : hsl( var( --h ), var( --s ), var( --ml30 ) );
	--cmd  : hsl( var( --h ), var( --s ), var( --ml20 ) );
	
	--shadow-btn    : -2px  2px 4px      #000;
	--shadow-btn-u  : -2px -2px 4px      #000;
	--shadow-bar    :  0    0   10px 4px #000;
	--shadow-check  : -1px  1px 2px  1px #000;
	--shadow-menu   :  4px  4px 10px     #000;
	--shadow-menu-l : -4px  4px 10px     #000;
	--shadow-menu-u : -4px -4px 10px     #000;
	--shadow-search : -2px  2px 4px      #000;
	--shadow-select : -1px  1px 1px      #000;
	--shadow-text   : -1px  0   2px      #000;
								   /* w    h      x    y   inner(color)       w    outer(color)       w */
	--glossy-btn   : radial-gradient( 225% 90% at 100% 0%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%, 0) 55% );
	--glossy-btn-l : radial-gradient( 225% 90% at 100% 0%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%, 0) 55% );
	--glossy-btn-r : radial-gradient( 300% 90% at   0% 0%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%, 0) 55% );
	--glossy-btn-m : linear-gradient( to bottom,           hsla(0,0%,100%,.3)  0%, hsla(0,0%,100%,.3) 45%, hsla(0,0%,0%,0) 50%, hsla(0,0%,0%,0) 100% );
}

bl,  .bl  { color : var( --cm ) !important }
bll, .bll { color : var( --cm60 ) !important }
g         { color : var( --cgl ) }
gr,  .gr  { color : var( --cg60 ) !important }
.grd      { color : var( --cg ) !important }
grn, .grn { color : #0f0 !important }
ora, .ora { color : #f80 !important }
pur, .pur { color : #f0f !important }
red, .red { color : #f00 !important }
yl,  .yl  { color : #ff0 !important }
wh,  .wh  { color : var( --cw ) !important }

.bgr      { background       : var( --cgd ) !important }
.bgr60    { background-color : var( --cg60 ) !important }

i.bl      { color : var( --cml ) !important }
input {
	color-scheme: dark;
}
