:root {
	--cd   : hsl(200,100%,35%); /* default main */
	--cw   : hsl(0,0%,90%);     /* white */
	--cm60 : hsl(200,100%,60%); /* main-60% */
	--cml  : hsl(200,100%,40%); /* main-light */
	--cm   : hsl(200,100%,35%); /* main */
	--cma  : hsl(200,100%,30%); /* main-active */
	--cmd  : hsl(200,100%,20%); /* main-dark */
	--cg75 : hsl(200,3%,75%);   /* gray-75% */
	--cg70 : hsl(200,3%,70%);   /* gray-70% */
	--cg60 : hsl(200,3%,60%);   /* gray-60% */
	--cgl  : hsl(200,3%,40%);   /* gray-light */
	--cg   : hsl(200,3%,30%);   /* gray */
	--cga  : hsl(200,3%,20%);   /* gray-active */
	--cgd  : hsl(200,3%,10%);   /* gray-dark */
	
	--shadow-btn    : -2px  2px 4px      #000;
	--shadow-btn-u  : -2px -2px 4px      #000;
	--shadow-bar    :  0    0   10px 4px #000;
	--shadow-check  : -1px  1px 2px  1px #000;
	--shadow-menu   :  4px  4px 10px     #000;
	--shadow-menu-l : -4px  4px 10px     #000;
	--shadow-menu-u : -4px -4px 10px     #000;
	--shadow-select : -1px  1px 1px      #000;
	--shadow-text   : -1px  0   2px      #000;
								   /* w    h      x    y   inner(color)       w    outer(color)      w */
	--glossy-btn   : radial-gradient( 225% 90% at 100% 0%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	--glossy-btn-l : radial-gradient( 225% 90% at 100% 0%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	--glossy-btn-m : linear-gradient( to bottom, hsla(0,0%,100%,.3) 0%, hsla(0,0%,100%,.3) 45%, rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100% );
	--glossy-btn-r : radial-gradient( 300% 90% at 0% 0%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
}

bl,  .bl  { color : var( --cm ) !important }
bll, .bll { color : var( --cm60 ) !important }
g         { color : var( --cgl ) }
gr,  .gr  { color : var( --cg60 ) !important }
grn, .grn { color : #0f0 !important }
ora, .ora { color : #f80 !important }
pur, .pur { color : #f0f !important }
red, .red { color : #f00 !important }
yl,  .yl  { color : #ff0 !important }
wh,  .wh  { color : var( --cw ) !important }

.bgm      { background       : var( --cm ) !important }
.bgr      { background       : var( --cgd ) !important }
.bgr60    { background-color : var( --cg60 ) !important }

i.bl      { color : var( --cml ) !important }
