#banner       { z-index: 125 }
#loader       { z-index: 120 }
#infoOverlay,
#keyboard,
#button-data  { z-index: 115 }
#data,
#degug        { z-index: 110 }
.head         { z-index: 95 }
.albumrefresh { z-index: 1 }

@font-face {
	font-family : rern;
	src         : url( '../../assets/fonts/rern.woff2?v=1705937605' );
}
@font-face {
	font-family : Lato;
	src         : url( '../../assets/fonts/Lato-Regular.woff2' ) format( 'woff2' );
}
@font-face {
	font-family : Lato;
	src         : url( '../../assets/fonts/Lato-Light.woff2' ) format( 'woff2' );
	font-weight : 300;
}
@font-face {
	font-family : Inconsolata;
	src         : url('../../assets/fonts/Inconsolata.woff2') format('woff2');
}
i {
	display     : inline-block;
	font-family : rern;
	font-style  : normal;
}
.i-22 { font-size: 22px !important }
.i-30 { font-size: 30px !important }
.i-add::before             { content: '\F519' }
.i-addons::before          { content: '\F50D' }
.i-airplay::before         { content: '\F580' }
.i-album::before           { content: '\F555' }
.i-albumartist::before     { content: '\F557' }
.i-ap::before              { content: '\F554' }
.i-arrow-right::before     { content: '\F603' }
.i-artist::before          { content: '\F556' }
.i-audiocd::before         { content: '\F538' }
.i-audio::before           { content: '\F516' }
.i-autoplay::before        { content: '\F503' }
.i-back::before            { content: '\F602' }
.i-backspace::before       { content: '\F608' }
.i-backup::before          { content: '\F543' }
.i-bars::before            { content: '\F51C' }
.i-bio::before             { content: '\F51D' }
.i-booklet::before         { content: '\F53D' }
.i-bookmark::before        { content: '\F550' }
.i-bluealsa::before        { content: '\F51A' }
.i-bluetooth::before       { content: '\F51A' }
.i-btreceiver::before      { content: '\F51A' }
.i-btsender::before        { content: '\F51B' }
.i-brush::before           { content: '\F536' }
.i-camilladsp::before      { content: '\F59D'; position: absolute; color: var( --cg60 ); }
.i-camilladsp::after       { content: '\F59C'; position: relative; } /* position: relative - fix order */
.i-capslock::before        { content: '\F607' }
.i-chevron-down::before    { content: '\F605' }
.i-chevron-up::before      { content: '\F604' }
.i-close::before           { content: '\F56C' }
.i-code::before            { content: '\F59E' }
.i-composer::before        { content: '\F558' }
.i-conductor::before       { content: '\F559' }
.i-config::before          { content: '\F53E' }
.i-connect::before         { content: '\F56D' }
.i-consume::before         { content: '\F566' }
.i-controls::before        { content: '\F50B' }
.i-copy::before            { content: '\F54E' }
.i-coverart::before        { content: '\F58A'; position: absolute; }
.i-coverart::after         { content: '\F58B'; position: relative; color: #000; opacity: 40%; text-shadow: none; }
.i-crop::before            { content: '\F568' }
.i-current::before         { content: '\F56D' }
.i-dabradio::before        { content: '\F589' }
.i-dabupdate::before       { content: '\F589'; animation: blinkopaque 1.5s linear infinite; }
.i-date::before            { content: '\F55C' }
.i-devices::before         { content: '\F571' }
.i-edit::before            { content: '\F565' }
.i-equalizer::before       { content: '\F50C' }
.i-eye::before             { content: '\F567' }
.i-features::before        { content: '\F50B' }
.i-file::before            { content: '\F548' }
.i-file-music::before      { content: '\F549' }
.i-file-playlist::before   { content: '\F548' }
.i-filters::before         { content: '\F52A' }
.i-firefox::before         { content: '\F58C'; position: absolute; }
.i-firefox::after          { content: '\F58D'; position: relative; color: var( --cg60 ); }
.i-flash::before           { content: '\F566' }
.i-flowchart::before       { content: '\F52D' }
.i-folder::before          { content: '\F540' }
.i-folder-cascade::before  { content: '\F54A' }
.i-folder-filter::before   { content: '\F53F' }
.i-folder-forbid::before   { content: '\F537' }
.i-folder-open::before     { content: '\F541' }
.i-folder-plus::before     { content: '\F54D' }
.i-gear::before            { content: '\F509' }
.i-gears::before           { content: '\F50A' }
.i-genre::before           { content: '\F55A' }
.i-github::before          { content: '\F583' }
.i-globe::before           { content: '\F575' }
.i-gpiopins::before        { content: '\F572' }
.i-graph::before           { content: '\F52C' }
.i-guide::before           { content: '\F579' }
.i-hddsleep::before        { content: '\F553' }
.i-hdmi::before            { content: '\F57B' }
.i-help::before            { content: '\F560' }
.i-hide::before            { content: '\F575' }
.i-hostname::before        { content: '\F590' }
.i-httpd::before           { content: '\F55D' }
.i-i2smodule::before       { content: '\F571' }
.i-info::before            { content: '\F561' }
.i-input::before           { content: '\F529' }
.i-inverted::before        { content: '\F52E' }
.i-jigsaw::before          { content: '\F50D' }
.i-lan::before             { content: '\F552' }
.i-lastfm::before          { content: '\F585' }
.i-latest::before          { content: '\F55E' }
.i-lcdchar::before         { content: '\F578' }
.i-led::before             { content: '\F57C' }
.i-librandom::before       { content: '\F569' }
.i-library::before         { content: '\F506' }
.i-libupdate::before       { content: '\F506'; animation: blinkopaque 1.5s linear infinite; }
.i-linear::before          { content: '\F52F' }
.i-link::before            { content: '\F56B' }
.i-localbrowser::before    { content: '\F584' }
.i-lock::before            { content: '\F574' }
.i-login::before           { content: '\F574' }
.i-lyrics::before          { content: '\F54B' }
.i-microsd::before         { content: '\F543' }
.i-minus::before           { content: '\F518' }
.i-mixers::before          { content: '\F50C' }
.i-mpd::before             { content: '\F582' }
.i-mpdoled::before         { content: '\F57A' }
.i-multiraudio::before     { content: '\F53B' }
.i-music::before           { content: '\F54A' }
.i-mute::before            { content: '\F517' }
.i-nas::before             { content: '\F551' }
.i-networks::before        { content: '\F551' }
.i-next::before            { content: '\F505' }
.i-nfsserver::before       { content: '\F53C' }
.i-off::before             { content: '\F520' }
.i-output::before          { content: '\F528' }
.i-pause::before           { content: '\F504' }
.i-pipeline::before        { content: '\F52B' }
.i-play::before            { content: '\F503' }
.i-playback::before        { content: '\F507' }
.i-playlist::before        { content: '\F508' }
.i-playlists::before       { content: '\F548' }
.i-player::before          { content: '\F582' }
.i-play-cd::before         { content: '\F539' }
.i-play-plus::before       { content: '\F532' }
.i-play-power::before      { content: '\F53A' }
.i-play-replace::before    { content: '\F533' }
.i-plus::before            { content: '\F519' }
.i-plus-circle::before     { content: '\F564' }
.i-plus-o::before          { content: '\F530' }
.i-power::before           { content: '\F520' }
.i-powerbutton::before     { content: '\F520' }
.i-previous::before        { content: '\F501' }
.i-processors::before      { content: '\F576' }
.i-radiofrance::before     { content: '\F586' }
.i-radioparadise::before   { content: '\F593'; position: absolute; color: var( --cgl ); }
.i-radioparadise::after    { content: '\F594'; position: relative; }
.i-random::before          { content: '\F512' }
.i-raudio::before          { content: '\F590' }
.i-raudio-nobg::before     { content: '\F500' }
.i-rserver::before         { content: '\F53C' }
.i-reboot::before          { content: '\F521' }
.i-redo::before            { content: '\F524' }
.i-refresh::before         { content: '\F526' }
.i-refresh-library::before { content: '\F536' }
.i-relays::before          { content: '\F522' }
.i-reload::before          { content: '\F525' }
.i-remove::before          { content: '\F563' }
.i-repeat::before          { content: '\F511' }
.i-repeat1::before         { content: '\F510' }
.i-replace::before         { content: '\F531' }
.i-reset::before           { content: '\F527' }
.i-restore::before         { content: '\F544' }
.i-rotaryencoder::before   { content: '\F516' }
.i-save::before            { content: '\F542' }
.i-save-plus::before       { content: '\F545' }
.i-screenoff::before       { content: '\F547' }
.i-scale-dn::before        { content: '\F591' }
.i-scale-up::before        { content: '\F592' }
.i-scrobble::before        { content: '\F585' }
.i-sd::before              { content: '\F543' }
.i-search::before          { content: '\F56A' }
.i-set0::before            { content: '\F515' }
.i-settings::before        { content: '\F509' }
.i-shareddata::before      { content: '\F551' }
.i-shairport-sync::before  { content: '\F580' }
.i-shift::before           { content: '\F606' }
.i-shuffle::before         { content: '\F513' }
.i-single::before          { content: '\F514' }
.i-sliders::before         { content: '\F50B' }
.i-smb::before             { content: '\F56E' }
.i-snapcast::before        { content: '\F587' }
.i-snapclient::before      { content: '\F587' }
.i-snapserver::before      { content: '\F587' }
.i-song::before            { content: '\F54A' }
.i-soundprofile::before    { content: '\F576' }
.i-source::before          { content: '\F529' }
.i-spotify::before         { content: '\F588' }
.i-spotifyd::before        { content: '\F588' }
.i-star::before            { content: '\F550' }
.i-status::before          { content: '\F50A' }
.i-stop::before            { content: '\F502' }
.i-stoptimer::before       { content: '\F570' }
.i-system::before          { content: '\F590' }
.i-tag::before             { content: '\F55B' }
.i-tft::before             { content: '\F577' }
.i-timezone::before        { content: '\F575' }
.i-title::before           { content: '\F54A' }
.i-track::before           { content: '\F54C' }
.i-undo::before            { content: '\F523' }
.i-update::before          { content: '\F526' }
.i-upmpdcli::before        { content: '\F581' }
.i-upnp::before            { content: '\F581' }
.i-usb::before             { content: '\F553' }
.i-usbdrive::before        { content: '\F553' }
.i-volume::before          { content: '\F516' }
.i-volume.mute::before     { content: '\F517' }
.i-volumeboot::before      { content: '\F51E' }
.i-vuled::before           { content: '\F57C' }
.i-warning::before         { content: '\F562' }
.i-webradio::before        { content: '\F55D' }
.i-wifi::before            { content: '\F597' }
.i-wifi1::before           { content: '\F598'; position: absolute; }
.i-wifi1::after            { content: '\F599'; color: var( --cga ); }
.i-wifi2::before           { content: '\F59A'; position: absolute; }
.i-wifi2::after            { content: '\F59B'; color: var( --cga ); }
.i-wlan::before            { content: '\F597' }
#divoutput .i-gear::before { content: '\F516' }

html {
	height  : 100%;
	padding : env( safe-area-inset ); /* disable iPhone X rounded corner padding */
}
body {
	position    : relative;
	min-height  : 100%;
	margin      : 0;
	font-family : Lato;
	font-size   : 15px;
	color       : var( --cw );
	background-color    : #000;
	overflow-x          : hidden;
	overscroll-behavior : none; /* disable android pull-down refresh */
	-webkit-tap-highlight-color : transparent;
}
*,
*::before,
*::after {
	-webkit-box-sizing :border-box;
	-moz-box-sizing    :border-box;
	box-sizing         :border-box;
}
*:active {
	outline: none !important;
}
.hide { display: none !important }
.hidden { visibility: hidden }
@keyframes blinkopaque { 50% { opacity: 0 } }
.blink { animation: blinkopaque 1.5s linear infinite }
#loader {
	position   : fixed;
	top        : 0;
	width      : 100%;
	height     : 100%;
	background : rgba(0, 0, 0, 0.8);
}
#loader svg {
	position  : absolute;
	top       : 0;
	bottom    : 0;
	left      : 0;
	right     : 0;
	margin    : auto;
	width     : 50px;
	animation : blinkopaque 1.5s linear infinite;
}
.logo rect {
	fill: var( --cm );
}
.logo path {
	fill: var( --cg75 );
}
#data {
	position    : absolute;
	top         : 0;
	width       : 100%;
	min-height  : 100%;
	margin      : 0;
	padding     : 10px 20px;
	tab-size    : 20px;
	font-family : Inconsolata;
	line-height : 20px;
	overflow    : auto;
	white-space : pre-wrap;
	background  : #000;
}
#data .error {
	position: fixed;
	top: 0;
	width: 100%;
	padding-top: 10px;
	background: #000;
}
#data .data {
	margin-top: 50px;
}

#debug {
	position: fixed;
	display: none;
	bottom: 0;
	right: 0;
	width: 40px;
	height: 40px;
	z-index: 110;
}
codered  {
	padding       : 0px 5px 3px 5px;
	border-radius : 3px;
	color         : var( --cw );
	background    : #f00;
}

.head {
	position: fixed;
	width: 100%;
	height: 40px;
	padding-right: 10px;
	background: var( --cga );
	box-shadow: var( --shadow-bar );
}
.head i {
	width: 40px;
	height: 40px;
	line-height: 38px;
	text-align: center;
	font-size: 24px;
	text-shadow: var( --shadow-text );
}
.head .i-close {
	color: var( --cm );
}
.head .title {
	margin-left: 15px;
	font-size: 26px;
	font-weight: 300;
	letter-spacing: 20px;
}
#data hr {
	margin-left  : -20px;
	margin-right : -20px;
}

.splash {
	background: #000000 !important;
}
.splash svg {
	animation: none !important;
}

c,
code {
	font-family: 'Inconsolata';
	font-size: 15px;
	color: var( --cg75 );
	background-color: var( --cgd );
	padding: 0 4px;
	border-radius: 3px;
}

/* banner() */
#banner .i-firefox::before { color: #000 }
#banner {
	position: fixed;
	min-width: 230px;
	max-width: 100%;
	min-height: 47px;
	bottom: 50px;
	padding: 6px 130px 5px 35px;
	line-height: 18px;
	background: linear-gradient( to right, var( --cm ) calc( 100% - 100px ), rgba( 0,0,0,0 ) 100% );
}
.infoheader,
.infomessage,
.infofooter,
#bannerTitle,
#bannerMessage {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#bannerTitle {
	font-size: 18px;
	font-weight: 300;
}
#bannerTitle,
#banner .li2,
#banner .time {
	color: var( --cw );
}
#bannerIcon {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	background-color: var( --cg );
}
#bannerMessage {
	font-size: 16px;
}
#bannerMessage i {
	margin-right: 5px;
	color: var( --cg75 );
}
#bannerMessage,
#banner .time,
#banner .li2 {
	color: var( --cga ) !important;
}
#banner .time {
	margin-left: 10px;
}
#banner .li1,
#banner .li2 {
	display: block;
}
#banner .li2 {
	font-size: 13px;
}

input[ type=range ] {
	--track: linear-gradient( 90deg, transparent 10px, #000 10px, #000 calc( 100% - 10px ), transparent 10px ) !important;
	--trackborder : 1px solid var( --cgd ) !important;
	height: 40px;
	width: 300px;
	margin: 0;
	max-width: 70%;
	background: transparent;
	-webkit-appearance: none;
}
input[ type=range ]::-webkit-slider-thumb {
	height: 40px;
	width: 40px;
	margin-top: -20px;
	border: none;
	border-radius: 4px;
	background: var( --glossy-btn );
	background-color: var( --cm );
	-webkit-appearance: none;
	box-shadow: var( --shadow-btn );
}
input[ type=range ]::-moz-range-thumb { /* cannot be combined */
	height: 40px;
	width: 40px;
	border: none;
	border-radius: 4px;
	background: var( --glossy-btn );
	background-color: var( --cm );
	box-shadow: var( --shadow-btn );
}
input[ type=range ]:disabled::-webkit-slider-thumb {
	background-color: var( --cmd );
}
input[ type=range ]:disabled::-moz-range-thumb {
	background-color: var( --cmd );
}
input[ type=range ]::-webkit-slider-runnable-track {
	width: 100%;
	height: 4px;
	background: var( --track );
	border: var( --trackborder );
}
input[ type=range ]:focus::-webkit-slider-runnable-track {
	background: var( --track );
}
input[ type=range ]::-moz-range-track {
	width: 100%;
	height: 2px;
	background: var( --track );
	border: var( --trackborder );
}
.inforange {
	text-align: center;
}
.inforange div {
	margin-bottom: 10px;
	line-height: 16px;
	font-size: 18px;
	font-weight: 300;
}
.inforange i {
	position: relative;
	width: 40px !important;
	line-height: 39px;
	vertical-align: top !important;
	color: var( --cg60 ) !important;
}

/* info */
.infobtn,
input[ type=radio ],
input[ type=checkbox ] {
	background: var( --glossy-btn );
	box-shadow: var( --shadow-check );
}
.infobtn {
	display: inline-block;
	margin: 0 5px;
	width: fit-content;
	min-width: 70px;
	padding: 0 10px;
	height: 34px !important;
	line-height: 34px;
	border: none;
	border-radius: 4px;
	white-space: nowrap;
	font-family: Lato;
	font-size: 14px;
	text-align: center;
	color: var( --cw ) !important;
	background-color: var( --cg );
	box-shadow: var( --shadow-btn );
	-webkit-user-select: none;
	user-select: none;
}
#infoBox > .infobtn {
	margin-top: 10px;
}
.infobtn-primary {
	background-color: var( --cm );
}
.infobtn-default {
	background-color: var( --cg );
}
.disabled {
	color: var( --cg60 ) !important;
	pointer-events: none;
}
.noclick {
	pointer-events: none;
}
.infobtn.disabled {
	background-color: var( --cgd ) !important;
	box-shadow: none;
	filter: none !important;
}
#infoOk.disabled {
	pointer-events: auto;
	cursor: default;
}
input[ type=checkbox ].disabled {
	pointer-events: auto;
}
.infobtn i {
	font-size: 18px;
	margin-right: 5px;
	vertical-align: middle;
}
.btnbottom span {
	color: var( --cg60 );
}
.btnbottom i,
#infoList .updn {
	width: 40px;
	font-size: 22px;
	vertical-align: -3px;
	text-align: center;
	color: var( --cw );
}
#infoList .updn {
	width: 35px !important;
	line-height: 40px;
}

hr {
	border: none;
	border-bottom: 1px solid var( --cg );
}
#infoOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: calc( 100% + 50vh );
	background: rgba(0, 0, 0, 0.85);
	text-align: center;
	overflow: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	-webkit-user-select: none;
	user-select: none;
}
#infoOverlay i {
	vertical-align: -2px;
}
#infoOverlay a {
	height: 40px;
	text-decoration: none;
}
#infoBox {
	position: relative;
	top: 50vh;
	transform: translateY( -50% ); /* of #infoBox height */
	width: 400px;
	max-width: 98%;
	margin: 0 auto;
	padding-bottom: 15px;
	background: var( --cga );
	border-radius: 10px;
	box-shadow: 1px -1px 5px var( --cga );
}
#bannerIcon i,
#bannerTitle,
#infoOverlay a,
#infoBox i,
.infobtn {
	text-shadow: var( --shadow-text );
}
#infoOverlay .button-coverart {
	text-shadow: none;
}
#infoOverlay .button-coverart::before {
	top: 1px;
}
#infoList .bklabel {
	height: auto;
	line-height: 30px;
}
#infoTopBg {
	width: 100%;
	height: 40px;
	border-radius: 10px 10px 0 0;
	border-bottom: none;
	background: black;
}
#infoTop {
	float: left;
	width: calc( 100% - 40px );
	height: 40px;
	padding: 0 0 0 5px;
	line-height: 40px;
	text-align: left;
}
#infoTop i {
	float: left;
	width: 30px;
	margin-left: 5px;
	text-align: center;
	font-size: 28px;
	line-height: 40px;
}
#infoTop .i-camilladsp {
	margin-right: 6px;
}
#infoTop .albumrefresh {
	color: var( --cw );
}
#infoTop .imgicon {
	position: relative;
	float: left;
	margin-top: 4px;
	width: 35px;
}
#infoTop .imgicon i {
	position: absolute;
	line-height: 32px;
}
#infoTop .imgicon img {
	width: 30px;
	vertical-align: -1px;
}
#infoX {
	float: right;
	width: 40px;
	line-height: 40px;
	border-radius: 0 10px 0 0;
	padding: 0;
	font-size: 24px;
	color: var( --cm );
}
#infoTitle {
	display: inline-block;
	max-width: calc( 100% - 45px );
	margin-left: 10px;
	font-size: 22px;
	font-weight: 300;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: 2px;
}
#infoTab {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 100px, auto ) );
	width: 100%;
	height: 39px;
	font-size: 16px;
	line-height: 40px;
	background: var( --cgd );
}
#infoTab a {
	display: inline-block;
	border-radius: 6px 6px 0 0;
	box-shadow: 2px -4px 4px #000000;
}
#infoTab a.active {
	background: var( --cga );
}
#infoTab i {
	font-size: 20px;
	width: 24px;
	color: var( --cg60 );
}
#infoList {
	padding: 20px 10px 10px 10px;
	font-size: 16px;
	box-shadow: -2px -2px 2px rgba( 0, 0, 0, 0.5 );
}
#infoList table {
	margin: 0 auto;
	border-spacing: 5px 1px;
}
#infoList tr {
	height: 42px;
}
#infoList td {
	padding: 0;
	text-align: left;
	white-space: nowrap;
}
#infoList td:first-child { /* label */
	padding-right: 5px;
	text-align: right;
}
#infoList td:last-child { /* chekbox only which has no label */
	text-align: left;
}
#infoList label i {
	text-align: center;
	width: 22px;
	font-size: 20px;
	margin-right: 5px;
}
#infoList i {
	width: 24px;
	font-size: 20px;
	text-align: center;
    color: var( --cw );
}
#infoList pre {
	margin: 0;
	padding: 0 10px;
	text-align: left;
	font-family: Inconsolata;
	color: var( --cg60 );
	background: none;
}
#infoList .menu {
	position: relative;
	left: 0;
	margin: 10px auto;
	text-align: left;
}
#infoList .menu a {
	height: 41px;
}
#infoList .menu i {
	width: 40px;
}
.infomessage {
	-webkit-user-select: text;
	user-select: text;
}
.infomessage pre {
	font-size: 16px;
}
.infomessage p {
	margin-top: 0;
	text-align: left;
}
.infoheader,
.infomessage,
.infofooter {
	width: fit-content;
	max-width: 100%;
	max-height: 800px;
	margin: 0 auto;
	padding: 10px 5px;
	color: var( --cg60 );
}
.infomessage {
	padding-top: 5px;
}
.infoprompt {
	padding: 15px 5px;
}
.infomessage i {
	width: 25px;
	vertical-align: 0;
	font-size: 20px;
}
.infomessage img {
	width: auto;
	height: 100px;
	margin-bottom: 10px;
}
.infomessage object {
	height: 100px;
	margin-bottom: 0;
}
.infomessage .msg-l,
.infomessage .msg-r {
	display: inline-block;
	vertical-align: middle;
}
.infomessage .msg-r {
	margin-left: 30px;
	text-align: left;
}
.infoimgnew {
	margin-left: 10px;
}
.infoimgwh {
	text-align: right;
}
.infoimgwh i {
	font-size: 18px;
	margin: 0;
}
#infoList textarea {
	width: 100%;
	height: 100px;
	margin: 0 !important;
	padding: 0 10px;
	border-radius: 4px;
	border: none;
	outline: none;
	font-family: Inconsolata;
	font-size: 15px;
	line-height: 20px;
	tab-size: 4;
	color: var( --cw );
	background: var( --cgd );
	resize: none;
	white-space: pre;
}
input[ type=text ],
input[ type=number ],
input[ type=tel ],
input[ type=password ] {
	display: inline-block;
	margin: 0;
	width: 100%;
	height: 40px !important;
	padding: 10px 9px;
	color: var( --cw );
	background-color: #000000;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	font-family: Lato;
}
.col-r input[ type=text ],
input[ type=text ]:disabled,
input[ type=number ]:disabled {
	background: none !important;
	border: 1px solid var( --cgl );
	opacity: 1;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}
input[ type=number ] {
	-moz-appearance:textfield;
}
#infoPasswordBox {
	margin-top: 0 !important;
	outline: none;
}
#infoList .i-eye {
	width: 30px;
	margin-right: -25px;
	text-align: center;
	font-size: 20px;
}
input[ type=radio ],
input[ type=checkbox ] {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	margin: 3px 6px 3px 1px;
	vertical-align: -10px;
	border: none;
	border-radius: 3px;
	background-color: var( --cg );
}
.container input[ type=radio ],
.container input[ type=checkbox ] {
	display:none;
}
input[ type=radio ] {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	margin: 2px 7px 2px 1px;
}
input:checked {
	background-color: var( --cm );
}
input[ type=checkbox ]:checked:disabled,
input[ type=radio ]:checked:disabled {
	background-color: var( --cmd ) !important;
}
input[ type=checkbox ]:disabled,
input[ type=radio ]:disabled {
	background-color: var( --cgd );
	box-shadow: var( --shadow-select );
}
#infoList button {
	height: 40px;
	margin-left: 5px;
	padding-right: 25px;
	font-size: 16px;
}
#infoList .imgicon {
	width: 30px !important;
	margin-right: 5px !important;
	vertical-align: -10px;
	border: none;
}
#infoList .select2-container {
	max-width     : none;
	margin-bottom : 0;
}
#infoFilename {
	height: 37px;
	padding: 0 10px;
}
#infoButton {
	margin-top: 5px;
}
.infomenu {
	display: inline-block;
	width: 140px;
	height: 27px !important;
	line-height: 27px;
	padding-left: 3px;
	color: var( --cg75 );
	background: var( --cg );
}
.infomenu .sub {
	float: right;
	margin: 0 !important;
	line-height: 27px !important;
	background: var( --cg );
	border-left: solid 1px var( --cga );
}
.infomenu i,
.infomenusub {
	width: 27px !important;
}
.infomenusub {
	line-height: 27px;
	background: var( --cg );
}
#infoPrompt {
	margin-top: 20px;
}
@keyframes blinkdot {
	50% { opacity: 0 }
}
.dot {
	animation: 1s infinite blinkdot;
}
.dot2 {
	animation-delay: 250ms;
}
.dot3 {
	animation-delay: 500ms;
}

@media ( max-height: 420px ) {
	#infoList { padding: 10px 5px }
}
@media ( max-width: 420px ) {
	#infoList { padding: 20px 5px 10px 5px }
	.infoheader, .infofooter { padding: 0 5px }
}
@media ( max-width: 330px ) {
	#infoOverlay {
		transform: scale( 0.9 );
		transform-origin: top;
		width: calc( 100% / 0.9 );
		left: calc( -100% / 18 );
	}
}
input:focus {
	outline: none;
}
@media ( hover:hover ) {
	#debug { display: block }
	/* :hover *********************************************************/
	label,
	input[ type=checkbox ],
	input[ type=radio ],
	input[ type=range ],
	.btnbottom i,
	.btnbottom span,
	.divgain,
	.i-eye,
	.i-volume,
	.infobtn,
	.inforange i,
	.pointer,
	#infoList .updn,
	#infoTab,
	#infoButton gr,
	#infoX {
		cursor: pointer;
	}
	#infoX:hover,
	.infobtn-primary:hover,
	.infobtn-default:hover {
		filter: brightness( 115% );
	}
	/* :active *********************************************************/
	#infoX:active {
		color: var( --cma );
	}
	input[ type=text ]:focus-visible,
	input[ type=number ]:focus-visible,
	input[ type=tel ]:focus-visible,
	input[ type=password ]:focus-visible,
	#infoList textarea:focus-visible {
		outline: 1px solid var( --cgl ) !important;
	}
	input[ type=radio ]:focus-visible,
	input[ type=checkbox ]:focus-visible,
	input[ type=range ]:focus-visible::-webkit-slider-thumb {
		outline: 2px solid var( --cgl );
		outline-offset: 1px;
	}
	input[ type=range ]:focus-visible::-moz-range-thumb {
		outline: 2px solid var( --cgl );
		outline-offset: 1px;
	}
	.infobtn.active {
		box-shadow: 0 0 2px 1px var( --cgl ) !important;
	}
}

@supports ( -webkit-touch-callout: none ) { /* ios only */
	.head i {
		line-height: 42px;
	}
	input[ type=checkbox ]:checked:disabled {
		background-color: var( --cml );
	}
	.input-group input {
		padding-top: 0 !important;
	}
	.infobtn {
		line-height: 32px;
	}
	::placeholder {
		color: var( --cg );
	}
}
