#eq .bottom   { z-index: 1 }
#eq .vertical { z-index: 0 }

 /* calc var */
#eq {
	--eqSliderH : 300px;
	--eqBandW   : 50px;
	--eqAllH    : calc( var( --eqSliderH ) + 125px ); /* console H = 25 + sliderW + 40 */
	--eqSliderT : calc( ( var( --eqSliderH ) - var( --eqBandW ) * 10 ) / 2 ); /* ( sliderW - sliderH x 10 ) / 2 */
	--eqPresetW : calc( var( --eqBandW ) * 5 );
	--eqLabel   : calc( var( --eqBandW ) - 10px );
	--eqLabelM  : 0 5px;
}
@media ( max-height: 450px ) and ( orientation: landscape ) {
	#eq { --eqSliderH: calc( 100vh - 150px ) }
}
@media ( max-width: 530px ) {
	#eq {
		--eqBandW  : calc( 100vw / 10 - 4px );
		--eqThumbW : calc( var( --eqBandW ) - 8px );
	}
}
@media ( max-width: 450px ) {
	#eq { 
		--eqLabel   : calc( var( --eqBandW ) - 4px );
		--eqLabelM  : 0 2px;
	}
}
@media ( max-width: 330px ) { /* scaled 0.9 */
	#eq { --eqBandW: calc( 100vw / 10 ) }
}
@media ( max-width: 320px ) and ( max-height: 480px ) {
	#eq { --eqSliderH: calc( 100vh - 180px ) }
}

/* size - position */
#eq           { height : var( --eqAllH ) }
#eq i         { width  : var( --eqBandW ) }
#eq .vertical { top    : var( --eqSliderT );
                width  : var( --eqSliderH ); }
#eq .label a  { width  : var( --eqLabel ) }
#eq input     { height : var( --eqBandW ) }
#eqname,
#eq .select2-container { 
	width: calc( var( --eqBandW ) * 4 ) !important;
}
#eq .select2-results__options li {
	text-align: center;
	padding-right: 20px;
}

@media ( max-width: 530px ) {
	#eq input::-webkit-slider-thumb { width : var( --eqThumbW ) }
	#eq input::-moz-range-thumb     { width : var( --eqThumbW ) }
} /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
#eq .label {
	margin-bottom: 15px;
	white-space: nowrap;
}
#eq .label a {
	display: inline-block;
	margin: var( --eqLabelM );
	height: 25px;
	line-height: 24px;
	color: var( --cw );
	text-align: center;
	font-family: Inconsolata;
	background: var( --cg );
	border-radius: 3px;
}
#eq .label.dn a {
	color: var( --cg60 );
}
#eq .bottom {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX( -50% );
}
#eq i {
	font-size: 24px;
}
#eq i {
	position: relative;
}
#eqdelete {
	margin-left: calc( var( --eqBandW ) * -1 );
}
#eqname {
	padding-right: 21px;
}
#eq .vertical {
	position: relative;
	max-width: 300px;
	margin: 0;
	transform : rotate( -90deg );
	transform-origin: top left;
	left: 15px;
	top: calc( 100% - 125px );
}
#eq .vertical::before { /* flat line */
	position: absolute;
	content: '';
	width: 1px;
	height: 100%;
	right: 138px;
	background: var( --cgl );
}
#eq input {
	display: block;
	position: relative;
	max-width: 100%;
	touch-action: none; /* fix: android chrome cannot drag */
}
#eq input::-webkit-slider-thumb {
	margin-top: -19px;
	transform : rotate( 90deg );
}
#eq input::-moz-range-thumb {
	transform : rotate( 90deg );
}
