#eq .bottom   { z-index: 1 }
#eq .vertical { z-index: 0 }

 /* calc var */
:root {
	--eqSliderH : 300px;
	--eqBandW   : 50px;
	--eqAllH    : calc( var( --eqSliderH ) + 125px ); /* console H = 25 + sliderW + 40 */
	--eqSliderT : calc( ( var( --eqSliderH ) - var( --eqBandW ) * 10 ) / 2 ); /* ( sliderW - sliderH x 10 ) / 2 */
	--eqPresetW : calc( var( --eqBandW ) * 5 );
	--eqLabel   : calc( var( --eqBandW ) - 10px );
	--eqLabelM  : 0 5px;
}
@media ( max-height: 450px ) and ( orientation: landscape ) {
	#eq { --eqSliderH: calc( 100vh - 150px ) }
}
@media ( max-width: 530px ) {
	#eq {
		--eqBandW  : calc( 100vw / 10 - 4px );
		--eqThumbW : calc( var( --eqBandW ) - 8px );
	}
}
@media ( max-width: 450px ) {
	#eq { 
		--eqLabel   : calc( var( --eqBandW ) - 4px );
		--eqLabelM  : 0 2px;
	}
}
@media ( max-width: 330px ) { /* scaled 0.9 */
	#eq { --eqBandW: calc( 100vw / 10 ) }
}
@media ( max-width: 320px ) and ( max-height: 480px ) {
	#eq { --eqSliderH: calc( 100vh - 180px ) }
}

/* size - position */
#eq           { height : var( --eqAllH ) }
#eq i         { width  : var( --eqBandW ) }
#eq .vertical { width  : var( --eqSliderH ) }
#eq .label a  { width  : var( --eqLabel ) }
#eq input     { height : var( --eqBandW ) }

@media ( max-width: 530px ) {
	#eq input::-webkit-slider-thumb { width : var( --eqThumbW ) }
	#eq input::-moz-range-thumb     { width : var( --eqThumbW ) }
} /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
#eq .label {
	margin-bottom: 15px;
	white-space: nowrap;
}
#eq .label a {
	display: inline-block;
	margin: var( --eqLabelM );
	height: 17px;
	line-height: 17px;
	font-size: 15px;
	color: var( --cw );
	text-align: center;
	text-shadow: none;
	font-family: Inconsolata;
	background: var( --cg );
	border-radius: 3px;
	cursor: pointer;
}
#eq .label.dn,
#eq .label.up {
	max-width: unset;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}
#eq .label.dn a {
	background: var( --cgd );
}
#eq .bottom {
	position: absolute;
	top: 405px;
	left: 50%;
	transform: translateX( -50% );
}
#eq i {
	position: relative;
	width: 40px !important;
	height: 40px !important;
	line-height: 40px !important;
	vertical-align: middle;
}
#eq .vertical {
	position: relative;
	max-width: 300px;
	margin: 0;
	transform : rotate( -90deg );
	transform-origin: top left;
	translate: 10px 300px;
}
#eq .vertical::before { /* flat line */
	position: absolute;
	content: '';
	width: 1px;
	height: 100%;
	right: 150px;
	background: var( --cgl );
}
#eq input {
	display: block;
	position: relative;
	max-width: 100%;
	touch-action: none; /* fix: android chrome cannot drag */
}
#eq input::-webkit-slider-thumb {
	margin-top: -19px;
	transform : rotate( 90deg );
}
#eq input::-moz-range-thumb {
	transform : rotate( 90deg );
}
#divpreset {
	display: inline-block;
	width: 230px;
	height: 42px;
}