#infoOverlay { /* no on-screen keyboard */
	min-height: 100%;
}
/* :hover *********************************************************/
#lib-path a:hover {
	color: var( --cm );
}
#lib-list li:hover,
#pl-savedlist li:hover,
#pl-list li:hover,
#lib-list li.updn:hover,
#pl-savedlist li.updn:hover {
	background-color: var( --cga );
}
#pl-list li.updn:hover {
	background-color: var( --cmd );
}
#bar-top i.active:hover,
#bar-bottom i.active:hover,
#button-library:hover,
#button-playlist:hover,
#lib-list li.active:hover,
#pl-savedlist li.active:hover,
#pl-list li.active:hover,
#playback-controls button.active:hover,
#playback-row .btn.active:hover {
	background-color: var( --cml ) !important;
}
.licover.active:hover {
	background: linear-gradient( #000000 195px, var( --cml ) 0 ) !important;
}
.mode:hover {
	background: var( --cga );
}
.menu a:hover,
.submenu:not( .disabled ):hover,
#bar-bottom i:hover,
#button-settings:hover,
#divlyricsartist i:hover,
#playback-controls i:hover,
#playback-row .btn:hover {
	background-color: var( --cgl ) !important;
}
.index a:hover,
#button-lib-search:hover,
#lib-search-btn:hover,
#pl-manage i:hover,
#button-lib-back:hover,
#button-pl-back:hover,
#button-pl-search:hover,
#pl-search-btn:hover {
	background-color: var( --cg ) !important;
}
/* :active:hover *********************************************************/
#colorok:active:hover,
#lib-list li.active:active:hover,
#pl-savedlist li.active:active:hover,
#pl-list li.active:active:hover,
#playback-controls button.active:active:hover,
#playback-row .btn.active:active:hover {
	background-color: var( --cma ) !important;
}
.menu a:active:hover,
.submenu:not( .disabled ):active:hover,
#button-lib-search:active:hover,
#button-settings:active:hover,
#lib-list li:active:hover,
#lib-search-btn:active:hover,
#pl-manage i:active:hover,
#button-pl-search:active:hover,
#playback-controls button:active:hover,
#playback-row .btn:active:hover {
	background-color: var( --cga ) !important;
}
#lib-list li:active:hover,
#pl-savedlist li:active:hover,
#pl-list li:active:hover,
#power.active,
#screenoff.active,
#power:hover,
#screenoff:hover {
	background-color: var( --cgd ) !important;
}
.licover.active:active:hover {
	background: linear-gradient( #000000 189px, var( --cma ) 41px ) !important;
}
.sub.nohover:hover {
	background-color: var( --cg ) !important;
}
.submenu.bgm:hover {
	background-color: var( --cml ) !important;
}

/* cursor *********************************************************/
button,
li:not( .licover ),
.band,
.btn,
.bioback,
.biosimilar,
.button-coverart,
.button-dab-refresh,
.button-latest-clear,
.button-webradio-new,
.close-root,
.coverart div,
.coveredit,
.bkedit,
.emptyadd,
.i-search,
.infofooter i,
.infomessage img,
.infomessage .tagpath,
.index a,
.infolabel i,
.lib-mode,
.licoverimg,
.liinfo,
.map,
.menu a,
.mode,
.rs-container,
.savedlist,
.submenu:not( .disabled ),
#album:not( .albumgray ),
#artist,
#bar-bottom,
#bar-top i,
#button-data i,
#button-library,
#button-lib-back,
#button-lib-update,
#button-pl-back,
#button-pl-playlists,
#button-playlist,
#colorcancel,
#colorok,
#coloroption,
#elapsed,
#eq i,
#eq .label a,
#liboptions,
#lib-path a,
#lib-search-close,
#lyrics i,
#pl-manage i,
#pl-search-close,
#playericon.i-audiocd,
#playlist-empty,
#refresh,
#sampling i,
#status,
#time-band,
#title,
#volume-band,
#volume-bar-dn,
#volume-bar-up,
#volume-text {
	cursor: pointer;
}
#lib-path a:last-of-type:hover,
.lib-mode.nodata * {
	cursor: default;
}
#lib-path a:last-of-type:hover {
	color: var( --cw );
}
#bio .container:focus-visible,
#lyricstext {
	outline: none;
}
.content-top > i:focus-visible,
#pl-manage i:focus-visible {
	border-radius: 50%;
	outline: 2px solid var(--cgl );
	outline-offset: -5px;
}