/* banner */
#banner {
	position: fixed;
	min-width: 230px;
	max-width: 100%;
	min-height: 47px;
	bottom: 50px;
	padding: 6px 130px 5px 35px;
	line-height: 18px;
	z-index: 112; /* #banner > #loader > # #keyboard > #infoOverlay */
	background: linear-gradient( to right, var( --cm ) calc( 100% - 100px ), rgba( 0,0,0,0 ) 100% );
}
#bannerTitle,
#bannerMessage {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#bannerTitle {
	font-size: 18px;
	font-weight: 300;
}
#bannerTitle,
#banner .li2,
#banner .time {
	color: var( --cw );
}
#bannerIcon {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 100%;
	font-size: 20px;
	line-height: 28px;
	text-align: center;
	background-color: var( --cg );
}
#bannerMessage {
	font-size: 16px;
}
#bannerMessage,
#banner .time,
#banner .li2 {
	color: var( --cga ) !important;
}
#banner .time {
	margin-left: 10px;
}
#banner .li1,
#banner .li2 {
	display: block;
}
#banner .li2 {
	font-size: 13px;
}
/* selectric */
#infoContent .selectric-wrapper {
	margin: 0;
	min-width: 60px;
}
#infoContent .selectric-items ul {
	color: var( --cw );
}
#infoContent .selectric {
	border-radius: 3px;
}
#infoContent .selectric,
#infoContent .selectric .label,
#infoContent .selectric-items li {
	height: 35px;
	text-align: left;
	line-height: 16px;
}
#infoContent .selectric-items {
	min-width: 100%;
}
#infoContent .selectric .label {
	margin: 1px 0;
	padding: 0 10px;
}
#infoContent .selectric .label,
#infoContent .selectric .button {
	line-height: 34px;
	color: var( --cw );
}
#infoRange {
	--gloss: radial-gradient( 225% 90% at 100% 0%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	--wkgloss: -webkit-radial-gradient( 100% 0%, 225% 90%,   hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	--track: linear-gradient( 90deg, var( --cg ) 20px, #000000 20px, #000000 calc( 100% - 20px ), var( --cg ) 20px );
	--trackborder : 1px solid var( --cgd );
}
#infoRange input {
	height: 40px;
	width: 300px;
	margin: 0;
	max-width: 70%;
	background: transparent;
	-webkit-appearance: none;
	cursor: pointer;
}
#infoRange input::-webkit-slider-thumb {
	height: 40px;
	width: 40px;
	margin-top: -20px;
	border: none;
	border-radius: 4px;
	background: var( --gloss );
	background: var( --wkgloss );
	background-color: var( --cm );
	-webkit-appearance: none;
	box-shadow: -2px 2px 4px #000000;
}
#infoRange input::-moz-range-thumb { /* cannot be combined */
	height: 40px;
	width: 40px;
	border: none;
	border-radius: 4px;
	background: var( --gloss );
	background: var( --wkgloss );
	background-color: var( --cm );
	box-shadow: -2px 2px 4px #000000;
}
#infoRange input:disabled::-webkit-slider-thumb {
	background-color: var( --cmd );
}
#infoRange input:disabled::-moz-range-thumb {
	background-color: var( --cmd );
}
#infoRange input::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	background: var( --track );
	border: var( --trackborder );
}
#infoRange input:focus::-webkit-slider-runnable-track {
	background: var( --track );
}
#infoRange input::-moz-range-track {
	width: 100%;
	height: 1px;
	background: var( --track );
	border: var( --trackborder );
}
#infoRange .value {
	height: 30px;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}
#infoRange .min,
#infoRange .max {
	position: relative;
	display: inline-block;
	width: 40px;
	padding: 0 10px;
	vertical-align: 16px;
	text-align: right;
	color: var( --cg60 );
	cursor: pointer;
}
#infoRange .max {
	text-align: left;
}
#infoRange {
	text-align: center;
}
/* info */
.infobtn,
#infoOverlay input[type=radio],
#infoOverlay input[type=checkbox] {
									  /* w    h       x   y   inner(color)       w    outer(color)      w */
	background:         radial-gradient( 160% 100% at 50% -50%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	background: -webkit-radial-gradient( 50% -50%, 160% 200%,   hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
									  /* x   y   w    h */
	box-shadow: -1px 1px 2px 1px #000000;  /* x, y, blurw, shadoww, color */
}
.infobtn {
	box-shadow: -2px 2px 3px 1px #000000;
}
#infoOverlay input[type=radio]:focus,
#infoOverlay input[type=checkbox]:focus {
	outline: none;
}
.infobtn {
	display: inline-block;
	margin: 0 5px;
	min-width: 70px;
	padding: 0 10px;
	height: 34px !important;
	line-height: 34px;
	border: none;
	border-radius: 4px;
	white-space: nowrap;
	font-size: 14px;
	text-align: center;
	color: var( --cw ) !important;
	background-color: var( --cg );
	cursor: pointer;
}
.infobtn-primary {
	background-color: var( --cm );
}
.infobtn-default {
	background-color: var( --cg );
}
.infobtn.disabled {
	color: var( --cg60 ) !important;
	background-color: var( --cgd ) !important;
	box-shadow: none;
	pointer-events: none;
}
.infobtn i {
	font-size: 18px;
	margin-right: 5px;
	vertical-align: -2px !important;
}
hr {
	border: none;
	border-bottom: 1px solid var( --cg );
}
#infoOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 200vh;
	background: rgba(0, 0, 0, 0.85);
	z-index: 107; /* #banner > #loader > # #keyboard > #infoOverlay */
	text-align: center;
	overflow: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	user-select: none;
	-webkit-user-select: none;
}
#infoOverlay .fa {
	vertical-align: -1px;
}
#infoOverlay a {
	height: 40px;
	text-decoration: none;
}
#infoOverlay code {
	color: var( --cw );
}
#infoBox {
	position: relative;
	top: 50vh;
	transform: translateY( -50% ); /* of #infoBox height */
	width: 400px;
	max-width: 98%;
	margin: 0 auto;
	padding-bottom: 15px;
	background: var( --cga );
	border-radius: 10px;
}
#infoOverlay a,
#infoBox i,
.infobtn {
	text-shadow: -1px 1px 2px #000000;
}
#infoContent .bklabel {
	height: auto;
}
#infoTopBg {
	width: 100%;
	height: 40px;
	border-radius: 10px 10px 0 0;
	border: 1px solid var( --cga );
	border-bottom: none;
	background: black;
}
#infoTop {
	float: left;
	width: calc( 100% - 40px );
	color: var( --cw );
	line-height: 40px;
	padding: 0 0 0 5px;
	text-align: left;
}
#infoTop i {
	float: left;
	width: 30px;
	margin-left: 5px;
	text-align: center;
	font-size: 28px;
	line-height: 40px;
	color: var( --cg60 );
}
#infoTop a {
	color: var( --cw );
}
#infoTop .albumrefresh {
	color: var( --cw );
	z-index: 1;
}
#infoTop .imgicon {
	position: relative;
	float: left;
	margin-top: 4px;
	width: 35px;
}
#infoTop .imgicon i {
	position: absolute;
	line-height: 32px;
}
#infoTop .imgicon img {
	width: 30px;
	vertical-align: -1px;
}
#infoX {
	float: right;
	width: 40px;
	line-height: 40px;
	border-radius: 0 10px 0 0;
	padding: 0;
	font-size: 28px;
	color: var( --cm );
	cursor: pointer;
}
#infoTitle {
	display: inline-block;
	width: calc( 100% - 45px );
	margin-left: 10px;
	font-size: 18px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	letter-spacing: 2px;
}
#infoArrow {
	position: absolute;
	width: 100%;
}
#infoArrow i {
	float: left;
	width: 40px;
	height: 40px;
	font-size: 24px;
	color: var( --cm );
}
.fa-arrow-right {
	float: right !important;
}
#infoContent {
	padding: 20px 10px 10px 10px;
	font-size: 16px;
}
#infoContent table {
	margin: 0 auto;
}
#infoContent td {
	height: 32px;
	padding: 0;
	text-align: left;
	white-space: nowrap;
}
#infoContent label i {
	text-align: center;
	width: 22px;
	color: var( --cg60 );
	font-size: 20px;
	margin-right: 5px;
}
#infoContent td:first-child i {
	font-size: 20px;
	width: 24px;
	text-align: center;
}
#infoContent pre {
	margin: 0;
	padding: 0 10px;
	text-align: left;
	color: var( --cg60 );
	background: none;
}
.infomessage,
.infofooter {
	width: fit-content;
	width: -moz-fit-content;
	max-width: 100%;
	max-height: 800px;
	margin: 0 auto 5px;
	white-space: pre-wrap;
	word-wrap: break-word;
	overflow: hidden;
	color: var( --cg60 );
}
.infofooter {
	padding: 0 5px;
}
.infomessage .fa {
	width: 25px;
	vertical-align: 0;
	font-size: 20px;
}
.infomessage .fa-bookmark {
	font-size: 48px;
	width: 48px;
}
.infomessage img {
	width: auto;
	height: 100px;
	margin-bottom: 10px;
}
.infomessage object {
	height: 100px;
	margin-bottom: 0;
}
.infomessage .msg-l,
.infomessage .msg-r {
	display: inline-block;
	vertical-align: middle;
}
.infomessage .msg-r {
	margin-left: 30px;
	text-align: left;
}
.infoimgnew {
	margin-left: 10px;
}
.infoimgwh {
	font-size: 14px;
}
.infoimgwh span {
	float: right;
	display: inline-block;
	text-align: right;
	font-size: 14px;
}
.infoimgwh i {
	font-size: 18px;
	margin: 0;
}
#infoContent textarea {
	width: 100%;
	height: 100px;
	margin: 0 !important;
	padding: 0 10px;
	border-radius: 4px;
	border: none;
	outline: none;
	font-family: Inconsolata;
	font-size: 15px;
	line-height: 20px;
	tab-size: 4;
	color: var( --cw );
	background: var( --cgd );
	resize: none;
	white-space: pre;
}
#infoContent input[type=text],
#infoContent input[type=number],
#infoContent input[type=password] {
	display: inline-block;
	margin: 0 !important;
	width: 230px;
	height: 36px !important;
	padding: 10px 9px;
	color: var( --cw );
	background-color: #000000;
	border-radius: 5px;
	border: 1px solid var( --cg );
	font-size: 16px;
	font-family: "Lato";
}
#infoContent td input[type=text] {
	width: 100% !important;
}
#infoContent input[type=text]:disabled {
	background: none !important;
	outline: none;
}
#infoPasswordBox {
	margin-top: 0 !important;
	outline: none;
}
.eyeactive {
	color: var( --cm );
}
#infoOverlay input[type=radio],
#infoOverlay input[type=checkbox] {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	margin: 3px 6px 3px 1px;
	vertical-align: -10px;
	border: none;
	border-radius: 3px;
	background-color: var( --cg );
}
#infoOverlay input[type=radio] {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	margin: 2px 7px 2px 1px;
}
#infoOverlay input:checked {
	background-color: var( --cm );
}
#infoOverlay input[type=checkbox]:checked:disabled,
#infoOverlay input[type=radio]:checked:disabled {
	background-color: var( --cmd );
	box-shadow: none;
}
#infoOverlay input[type=checkbox]:disabled,
#infoOverlay input[type=radio]:disabled {
	background-color: var( --cgd );
	box-shadow: none;
}
#infoContent button {
	height: 40px;
	margin-left: 5px;
	padding-right: 25px;
	font-size: 16px;
}
#infoFilename {
	max-width: 95%;
	margin-bottom: 10px;
}
#infoButtons {
	padding-top: 10px;
}
#infoOverlay code {
	display: inline-block;
	padding: 3px;
	line-height: 14px;
	border-radius: 3px;
	background: #000000;
	font-family: Inconsolata;
}
@media ( max-height: 420px ) {
	#infoContent { padding: 10px 5px }
}
@media ( max-width: 420px ) {
	#infoContent { padding: 20px 5px 10px 5px }
	.infofooter { padding: 0 5px }
}
@media ( max-width: 330px ) {
	#infoOverlay {
		transform: scale( 0.9 ) translateY(2.5%);
		transform-origin: top;
		width: calc( 100% / 0.9 );
		left: calc( -100% / 18 );
	}
}
/* iOS */
@media not all and ( min-resolution:.001dpcm ) {
	@supports (-webkit-appearance:none) and (stroke-color:transparent) {
		#infoOverlay input[type=checkbox]:checked:disabled {
			background-color: var( --cml );
		}
	}
}
@media ( hover:hover ) {
	/* :hover *********************************************************/
	#infoX:hover {
		color: var( --cml );
	}
	#infoContent label,
	input[type=checkbox],
	input[type=radio],
	.fa-eye {
		cursor: pointer;
	}
	.infobtn-primary:hover {
		color: var( --cw );
		background-color: var( --cml );
	}
	.infobtn-default:hover {
		color: var( --cw );
		background-color: var( --cgl )
	}
	/* :active *********************************************************/
	#infoX:active {
		color: var( --cma );
	}
	input:not( [type=range] ):focus,
	.infobtn.active {
		box-shadow: 0 0 2px 0 var( --cgl ) !important;

	}
}
