*,
*:before,
*:after{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
:focus,
:active,
input::-moz-focus-inner { /* dotted outline */
	outline: 0;
	border: 0;
}
.infobtn,
#infoOverlay input[type=radio],
#infoOverlay input[type=checkbox] {
									  /* w    h       x   y   inner(color)       w    outer(color)      w */
	background:         radial-gradient( 160% 100% at 50% -50%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	background: -webkit-radial-gradient( 50% -50%, 160% 200%,   hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
									  /* x   y   w    h */
	box-shadow: 2px 2px 3px 1px #000000;  /* x, y, blurw, shadoww, color */
}
#infoOverlay input[type=radio],
#infoOverlay input[type=checkbox] {
	box-shadow: 1px 1px 2px 1px #000000;
}
#infoOverlay input[type=radio]:focus,
#infoOverlay input[type=checkbox]:focus {
	outline: none;
}
.infobtn {
	display: inline-block;
	margin: 0 5px 10px;
	min-width: 70px;
	height: 34px !important;
	padding: 0 10px;
	line-height: 34px;
	border: none;
	border-radius: 4px;
	white-space: nowrap;
	font-size: 14px;
	text-align: center;
	color: var( --cw ) !important;
	background-color: var( --cg );
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Safari */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer and Edge */
	user-select: none;           /* Non-prefixed version, currently supported by Chrome and Opera */
	cursor: pointer;
}
.infobtn-primary {
	background-color: var( --cm );
}
.infobtn-default {
	background-color: var( --cg );
}
.infobtn.disabled {
	color: var( --cg60 ) !important;
	background-color: var( --cg ) !important;
	pointer-events: none;
}
.noclick {
	pointer-events: none;
}
hr {
	border: none;
	border-bottom: 1px solid var( --cg );
}
#infoOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200%;
	background: rgba(0, 0, 0, 0.85);
	z-index: 106; /* #banner > #loader > # #keyboard > #infoOverlay */
	text-align: center;
	overflow: hidden;
	scrollbar-width: none;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
}
#infoOverlay.noscroll {
	height: 100%;
}
#infoOverlay .fa {
	vertical-align: -2px;
}
#infoButtons .fa {
	font-size: 18px;
	margin-right: 7px;
}
#infoOverlay a {
	height: 40px;
	text-shadow: 1px 1px 2px #000000;
	text-decoration: none;
}
#infoBox {
	width: 400px;
	max-width: 98%;
	margin: 20px auto 200px; /* 200px for on-screen keyboard */
	background: var( --cga );
	border-radius: 10px;
}
#infoBox i {
	text-shadow: 1px 1px 2px #000000;
}
#infoTopBg {
	width: 100%;
	height: 40px;
	border-radius: 10px 10px 0 0;
	border: 1px solid var( --cga );
	border-bottom: none;
	background: black;
}
#infoTop {
	float: left;
	width: calc( 100% - 40px );
	color: var( --cw );
	line-height: 40px;
	padding: 0 0 0 5px;
	text-align: left;
}
#infoTop i {
	float: left;
	width: 30px;
	margin-left: 5px;
	text-align: center;
	font-size: 28px;
	line-height: 40px;
	color: var( --cg60 );
}
#infoTop a, white {
	color: var( --cw );
}
#infoTop .albumrefresh {
	color: var( --cw );
	z-index: 1;
}
#infoTop .imgicon {
	position: relative;
	float: left;
	margin-top: 4px;
	width: 35px;
}
#infoTop .imgicon i {
	position: absolute;
	line-height: 32px;
}
#infoTop .imgicon img {
	width: 30px;
}
#infoX {
	float: right;
	width: 40px;
	line-height: 40px;
	border-radius: 0 10px 0 0;
	padding: 0;
	font-size: 28px;
	color: var( --cm );
	cursor: pointer;
}
#infoTitle {
	display: inline-block;
	width: calc( 100% - 45px );
	margin-left: 10px;
	font-size: 18px;
	font-weight: 300;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#infoArrow {
	position: absolute;
	width: 400px;
	max-width: 98%;
}
.infoarrowleft,
.infoarrowright {
	width: 40px;
	height: 40px;
	font-size: 24px;
	color: var( --cm );
}
.infoarrowleft {
	float: left;
}
.infoarrowright {
	float: right;
}
#infoContent {
	padding: 25px 10px 10px 10px;
	font-size: 16px;
}
#infoContent table {
	margin: 0 auto;
}
#infoContent td {
	text-align: left;
	padding: 0 3px;
	white-space: nowrap;
}
#infoContent td:first-child {
	text-align: right;
}
#infoContent td.chk {
	text-align: left !important;
}
#infoContent label i {
	text-align: center;
	width: 22px;
	color: var( --cg60 );
	font-size: 20px;
	margin-right: 5px;
}
#infoContent td:first-child i {
	font-size: 22px;
	width: 30px;
	text-align: center;
}
.infomessage,
.infofooter {
	display: inline-block;
	width: fit-content;
	max-width: 100%;
	max-height: 800px;
	margin: 0 auto 5px;
	word-wrap: break-word;
	overflow: hidden;
	color: var( --cg60 );
}
.infomessage .fa {
	width: 25px;
	vertical-align: 0;
	font-size: 20px;
}
.infomessage img {
	width: auto;
	height: 100px;
	margin-bottom: 10px;
}
.infomessage .fa-bookmark {
	font-size: 48px;
	width: 48px;
}
#infoContent .imgicon {
	width: 30px;
	margin-left: 10px;
	vertical-align: -10px;
}
#infoContent textarea {
	width: 100%;
	height: 100px;
	margin: 0 !important;
	padding: 5px 10px;
	border-radius: 4px;
	border: none;
	outline: none;
	font-family: Inconsolata;
	font-size: 16px;
	line-height: 20px;
	tab-size: 4;
	color: var( --cw );
	background: var( --cgd );
	overflow: hidden;
}
#infoContent input[type=text],
#infoContent input[type=number],
#infoContent input[type=password] {
	display: inline-block;
	margin: 0 !important;
	width: 230px;
	height: 36px !important;
	padding: 10px;
	color: var( --cw );
	background-color: #000000;
	border-radius: 5px;
	border: 1px solid var( --cg );
	font-size: 16px;
	font-family: "Lato";
}
#infoContent input[type=text]:disabled {
	background: none !important;
	outline: none;
}
#infoPasswordBox {
	margin-top: 0 !important;
	outline: none;
}
.eyeactive {
	color: var( --cm );
}
#infoOverlay input[type=radio],
#infoOverlay input[type=checkbox] {
	-webkit-appearance: none;
	width: 24px;
	height: 24px;
	margin: 3px 8px 3px 0;
	vertical-align: -10px;
	border: none;
	border-radius: 3px;
	background-color: var( --cg );
}
#infoOverlay input[type=radio] {
	border-radius: 50%;
}
#infoOverlay input:checked {
	background-color: var( --cm );
}
#infoOverlay input[type=checkbox]:checked:disabled,
#infoOverlay input[type=radio]:checked:disabled {
	background-color: var( --cmd );
}
#infoOverlay input[type=checkbox]:disabled,
#infoOverlay input[type=radio]:disabled {
	background-color: var( --cgd );
}
#infoContent button {
	height: 40px;
	margin-left: 5px;
	padding-right: 25px;
	font-size: 16px;
}
#infoFilename {
	margin-bottom: 10px;
}
#infoButtons {
	padding: 10px 0 20px 0;
}
#infoContent .selectric-wrapper {
	margin: 0;
}
#infoContent .selectric-wrapper {
	width: auto;
	max-width: 100%;
}
#infoOverlay white,
#infoOverlay code,
#infoContent .selectric-items ul {
	color: var( --cw );
}
#infoContent .selectric {
	border-radius: 3px;
}
#infoContent .selectric,
#infoContent .selectric .label,
#infoContent .selectric-items li {
	height: 34px;
	text-align: left;
}
#infoContent .selectric .label {
	margin: 1px 0;
	padding: 0 10px;
	line-height: 34px;
}
#infoRange input {
	height: 40px;
	width: 300px;
	margin: 0;
	max-width: 70%;
	background: transparent;
	-webkit-appearance: none;
	cursor: pointer;
}
#infoRange input::-webkit-slider-thumb {
	height: 40px;
	width: 40px;
	margin-top: -20px;
	border: none;
	border-radius: 4px;
	background:         radial-gradient( 225% 90% at 100% 0%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	background: -webkit-radial-gradient( 100% 0%, 225% 90%,   hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	background-color: var( --cm );
	-webkit-appearance: none;
	box-shadow: -2px 2px 4px #000000;
}
#infoRange input::-moz-range-thumb {
	height: 40px;
	width: 40px;
	border: none;
	border-radius: 4px;
	background:         radial-gradient( 225% 90% at 100% 0%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	background: -webkit-radial-gradient( 100% 0%, 225% 90%,   hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
	background-color: var( --cm );
	box-shadow: -2px 2px 4px #000000;
}
#infoRange input:disabled::-webkit-slider-thumb {
	background-color: var( --cmd );
}
#infoRange input:disabled::-moz-range-thumb {
	background-color: var( --cmd );
}
#infoRange input::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	transition : all 2s;
	border-radius: 0px;
	background: #000000;
}
#infoRange input:focus::-webkit-slider-runnable-track {
	background: #000000;
}
#infoRange input::-moz-range-track {
	width: 100%;
	height: 3px;
	transition : all 2s;
	background: #000000;
	border-radius: 0px;
}
#infoRange .value {
	margin-top: -10px;
	height: 30px;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}
#infoRange .min,
#infoRange .max {
	position: relative;
	display: inline-block;
	width: 40px;
	padding: 0 10px;
	vertical-align: 16px;
	text-align: right;
	color: var( --cg60 );
	cursor: pointer;
}
#infoRange .max {
	text-align: left;
}
#infoRange {
	text-align: center;
	user-select: none;
}
#infoOverlay code {
	display: inline-block;
	padding: 3px;
	line-height: 14px;
	border-radius: 3px;
	background: #000000;
	font-family: Inconsolata;
}
px, px10, px20, px30, px40, px50, px60, px70, px80, px90, px100 {
	display: inline-block;
}
px10 { width: 10px }
px20 { width: 20px }
px30 { width: 30px }
px40 { width: 40px }
px50 { width: 50px }
px60 { width: 60px }
px70 { width: 70px }
px80 { width: 80px }
px90 { width: 90px }
px100 { width: 100px }
/* iOS */
@media not all and ( min-resolution:.001dpcm ) {
	@supports (-webkit-appearance:none) and (stroke-color:transparent) {
		#infoOverlay input[type=checkbox]:checked:disabled {
			background-color: var( --cml );
		}
	}
}
@media( hover:hover ) {
	/* :hover *********************************************************/
	#infoX:hover {
		color: var( --cml );
	}
	input[type=checkbox],
	input[type=radio],
	.fa-eye {
		cursor: pointer;
	}
	.infobtn-primary:hover {
		color: var( --cw );
		background-color: var( --cml );
	}
	.infobtn-default:hover {
		color: var( --cw );
		background-color: var( --cgl )
	}
	/* :active *********************************************************/
	#infoX:active {
		color: var( --cma );
	}
	input[type=checkbox].active,
	input[type=radio].active,
	.infobtn.active {
		border: 2px solid var( --cw ) !important;
	}
}
