#keyboard {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 5px 0 5px 5px;
	background: var( --cga ) !important;
	box-shadow: var( --shadow-bar );
	-webkit-touch-callout: none;
}
#keyboard > div {
	margin: auto;
	width: 100%;
	background: none;
}
@media ( min-width: 540px ) {
	#keyboard > div {
		max-width: 540px;
		transform: translateX( 10px );
	}
}
#keyboard .row {
	margin-bottom: 5px;
}
#keyboard .kr1 {
	margin-left: 2.5%;
}
#keyboard .kr2 {
	margin-left: 5%;
}
#keyboard a {
	display: inline-block;
	margin-right: 4px;
	width: 7%;
	max-width: 38px;
	height: 38px;
	line-height: 38px;
	font-size: 22px;
	text-align: center;
	text-shadow: var(--shadow-text);
	background: var(--cg) !important;
	box-shadow: var(--shadow-btn) !important;
	border-radius: 4px !important;
	border-bottom: none !important;
	border-top: 1px solid var(--cg60);
	cursor: pointer;
	user-select: none;
}
#ks {
	width: 100%;
	position: relative;
}
#keyboard .backspace {
	color: #f00;
	width: 7.5%;
	max-width: 65px;
}
#keyboard .space {
	width: 72%;
	max-width: 400px;
	vertical-align: -11px;
}
#keyboard .enter,
#keyboard .shift {
	width: 12%;
	max-width: 64px;
}
#keyboard .enter {
	background: var(--glossy-btn) !important;
	background-color: var(--cm) !important;
}
#keyboard .enter {
	font-size: 16px;
	vertical-align: 3px;
}
