*:focus-visible {
	outline: none;
}
#bio { z-index: 107 }
#colorpicker,
#lyrics,
#lyricsfade,
#bar-top,
#bar-bottom { z-index: 106 }
#settings { z-index: 105 }
.content-top { z-index: 104 }
.band,
.emptyadd,
#volume-text { z-index: 102 }
#refresh { z-index: 100 }
#lib-search,
#pl-search { z-index: 96 }
.coveredit,
.bkedit,
.controls { z-index: 20 }
.map { z-index: 16 }
.licover,
#elapsed,
#timeicon,
#total  { z-index: 15 }
.menu { z-index: 11 }
.rs-container::after,
#vu::before { z-index: 6 }
#biocontent .close-root,
#biocontent .bioback,
#bioimg,
.index { z-index: 5 }
#divlyricstitle { z-index: 2 }
.rs-container::before,
.rs-container::after,
#divlyricsartist,
#pl-list .pl-remove,
#time .rs-inner-container::before,
#time .rs-inner-container::after { z-index: 1 }
@media ( orientation: portrait ) { @media ( max-width: 480px ) { #bioimg { z-index: -5 } } }

img {
	-webkit-touch-callout: none;
}
a {
	color: var( --cw );
	text-decoration: none !important;
}
#biocontent .artist,
#elapsed,
#lib-mode-list gr,
#volume,
.biosimilar p,
.bklabel,
.content-top gr,
.content-top wh,
.label,
.liinfo,
.title {
	font-weight: 300;
}

#progress wh {
	width: 25px;
	margin-right: 5px;
	text-align: center;
	font-size: 22px;
	color: var( --cg60 );
}
.infobookmark {
	float: left;
	min-width: 100px;
	height: 100px;
}
.infobookmark .i-bookmark,
#infoList .i-bookmark {
	width: 100px !important;
	font-size: 48px !important;
	line-height: 72px;
	color: var( --cm ) !important;
}
#time-knob.disabled .btn {
	background-color: var( --cgd ) !important;
}
#divcolor .infobtn {
	margin: 10px 5px;
	width: 90px;
	box-shadow: var( --shadow-bar );
}
#divcolor .btn.disabled {
	background-color: var( --cg ) !important;
}
#colorreset {
	background-color: var( --cd );
}
.submenu.disabled {
	color: var( --cg60 ) !important;
}
i.map.disabled, .map.disabled i {
	color: var( --cgl );
}
@keyframes blink { 50% { color: transparent } }
.blink {
	animation: 1.5s infinite linear blink;
	text-shadow: none;
}
#logo {
	position: absolute;
	left: -3px;
	width: 45px !important;
	font-size: 48px;
	color: var( --cg ) !important;
}
.menu {
	position: absolute;
	left: 40px;
	width: 190px;
	padding: 0;
	background: var( --cg );
	box-shadow: var( --shadow-menu );
}
.menu.fixed {
	position: fixed;
}
.menu .sub {
	width: calc( 100% - 40px );
}
.menu a + .submenu {
	display: none;;
}
.menu a.sub + .submenu {
	display: block;
}
.menu a {
	display: inline-block;
	width: 100%;
	margin: 0;
	line-height: 40px;
	font-size: 16px;
	color: var( --cg75 );
	border-top: 1px solid var( --cga ) !important;
}
.menu i {
	width: 40px;
	line-height: 40px;
	vertical-align: bottom;
	text-align: center;
	font-size: 22px;
	color: var( --cw );
	text-shadow: var( --shadow-text );
}
.menu a.disabled i {
	color: var( --cg60 );
}
.menu i.gr {
	color: var( --cg60 ) !important;
}
.submenu {
	float: right;
	border-top: 1px solid var( --cga );
	border-left: 1px solid var( --cga );
}
#screenoff {
	border-left: 1px solid #000000;
}
#settings {
	position: fixed;
	float: right;
	display: block;
	left: auto;
	right: 0px;
	width: 160px;
	padding: 0;
	box-shadow: var( --shadow-menu-l );
}
#power, #screenoff {
	background: var( --cga );
}
#settings i.on {
	color: var( --cml ) !important;
}
.menu a.active,
.submenu.active {
	background: var( --cgl );
}
#settings .gr {
	font-size: 22px;
}
#infoIcon.i-color canvas,
.submenu.i-color canvas {
	width: 20px;
	height: 20px;
	vertical-align: -2px;
	border-radius: 50%;
	box-shadow: var( --shadow-text );
/*	background-image: linear-gradient( to right, #ff0000, #ff8800, #ffff00, #00ff88, #0000ff, #8800ff, #ff00ff );*/
}
#infoIcon.i-color canvas {
	width: 25px;
	height: 25px;
}
#menu-file {
	right: 50px;
}
.biosimilar p,
.bklabel,
.coverart1,
.coverart2,
.label,
.liinfo div,
.list li *,
.scrollellipse,
.tagmessage div,
.content-top .title,
#lyricsartist,
#lyricstitle {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.page,
#bar-bottom,
#bar-top,
#settings {
	-webkit-user-select: none;
	user-select: none;
}
#bar-top.disabled,
#bar-bottom.disabled,
.content-top.disabled,
#page-playlist .index {
	opacity: 0.5;
}
/* ---------------------- bars ----------------------*/
#refresh {
	position: fixed;
	width: 40px;
	height: 40px;
}
#bar-top,
#bar-bottom {
	position: fixed;
	width: 100%;
	height: 40px;
	background: linear-gradient( to left, var( --cg ) calc( 100% - 50px ), var( --cgd ) 100% );
}
#bar-bottom {
	bottom: 0;
	background: none;
}
#bar-bottom.transparent {
	display: block !important;
}
.content-top,
.licover,
#bar-top,
#bar-bottom,
#biocontent .artist {
	box-shadow: var( --shadow-bar );
}
#bar-top i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: none;
	border-radius: 0;
}
#bar-top i,
#bar-bottom i,
#button-library i,
#button-playlist i,
#page-playback .btn-group i,
.content-top i {
	text-shadow: var( --shadow-text );
}
#playback-controls {
	text-align: center
}
#playback-controls i {
	margin: 0 10px;
	font-size:24px;
	background: var( --cg );
}
#playback-controls i.active {
	background-color: var( --cm );
}
#button-settings {
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 30px;
}
.submenu.disabled {
	pointer-events: auto;
}
/* ---------------------- bar-bottom ----------------------*/
#bar-bottom {
	font-size: 28px;
	line-height: 40px;
	color: var( --cw );
}
#bar-bottom i {
	display: inline-block;
	width: calc( 100% / 3 );
	text-align: center;
}
#library,
#playlist {
	background: var( --cg );
}
#library.clear,
#button-library.clear {
	color: transparent;
	text-shadow: none;
}
#playback {
	background: var( --cga );
}
.content-top .page-icon,
#bar-bottom i.active {
	background: var( --cm );
}
#bar-bottom .i-mpd::before {
	content: "\F507";
}
.renderer {
	width: 100% !important;
	background: var( --cm ) !important;
}
/* ---------------------- middle window ----------------------*/
#page-playback {
	padding: 120px 0 60px;
}
.emptyadd {
	position: absolute;
	top: 140px;
	left: 0;
	right: 0;
	margin: auto;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
}
/* ---------------------- info ----------------------*/
#divartist,
#divalbum,
#divcomposer {
	height: 25px;
}
#divtitle {
	height: 34px;
	line-height: 34px;
	color: var( --cm );
}
#divcomposer,
#divconductor {
	color: var( --cg60 );
}
.info {
	position: relative;
	display: table; /* allow get width */
	margin: 0 auto;
	text-align: center;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
}
#title {
	font-size: 30px;
}
#composer::before,
#conductor::before {
	content: '\F558\20';
	font-family: rern;
	font-size: 18px
}
#conductor::before {
	content: '\F559\20';
}
#album.disabled {
	font-weight: 300;
}
.capitalize {
	text-transform: capitalize;
}
#infoicon {
	height: 25px;
	font-size: 0;
	text-align: center;
}
#infoicon i {
	font-size: 20px;
	width: 30px;
	line-height: 23px;
	vertical-align: -1px;
}
#modeicon {
	color: var( --cgl );
}
#progress {
	margin: 0 5px;
	font-size: 18px;
	font-weight: 300;
}
#progress:empty {
	margin: 0;
}
#progress i {
	width: auto;
	color: var( --cgl );
}
#progress span {
	margin-left: 8px;
}
#sampling {
	font-size: 14px;
	text-align: center;
	color: var( --cg60 );
	text-transform: none;
}
#sampling .radio { display: none; }
#sampling .station { display: inline; }
/* ---------------------- info scrolling ----------------------*/
#divartist,
#divtitle,
#divalbum,
#divcomposer {
	position: relative;
	overflow: hidden;
}
.scrollellipse {
	display: block !important;
	padding: 0 10px;
}
@keyframes scrollleft {
	0%   { transform : translateX( 100% ) } /* move to right 100vw */
	100% { transform : translateX( -100% ) } /* scroll to left 100% text width */
}
/* ---------------------- knobs, buttons ----------------------*/
#playback-row {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin: 30px auto 0;
	padding: 0;
	min-height: 230px;
}
#playback-row.top0 {
	margin-top: 0 !important;
}
#time-knob,
#coverart-block,
#volume-knob {
	position: relative;
	text-align: center
}
#time-knob > div:first-child, 
#volume-knob > div:first-child {
	margin: 0 auto;
}
#time-knob,
#coverart-block,
#volume-knob {
	padding: 0;
	text-align: center;
	width: 33%;
	min-width: 250px;
}
#time-knob,
#volume-knob {
	max-width: 400px;
}
#time-knob {
	-webkit-order: 1;
	order: 1;
}
#coverart-block {
	-webkit-order: 2;
	order: 2;
}
#volume-knob {
	-webkit-order: 3;
	order: 3;
}
#coverart {
	display: block; /* fix container div larger tahn img */
}
#coverart-block,
#divcover {
	position: relative;
	max-width: 55vh;
}
.band,
#time-bar,
#volume-bar,
#volume-text {
	position: absolute;
}
.band {
	background: var( --cg );
	opacity: 0.7;
}
#time-bar,
#volume-bar {
	width: 0;
	height: 2px;
	background: var( --cm );
}
#time-bar {
	top: -4px;
	transition: all 0s linear;
}
#volume-bar {
	bottom: -4px;
}
#volume-band-dn,
#volume-band-up {
	bottom: -22px;
	width: 40px;
	height: 40px;
	font-size: 18px;
	line-height: 40px;
	border-radius: 4px;
	opacity: 1;
}
#volume-band-dn {
	left: -40px
}
#volume-band-up {
	right: -40px
}
#volume-text {
	bottom: 10px;
	left: 0;
	right: 0;
	margin: auto;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	font-size: 18px;
	font-weight: 300;
	background: #000000;
}
#time-band,
#volume-band {
	width: 100%;
	height: 30px;
	font-weight: 300;
	line-height: 30px;
}
#time-band {
	top: -18px;
	font-size: 18px;
}
#volume-band {
	display: block;
	bottom: -18px;
	font-size: 24px;
}
.transparent {
	opacity: 0 !important;
}
.translucent {
	opacity: 0.6 !important;
}
#divcover {
	margin: 0 auto;
	width: fit-content;
	min-width: 230px;
	max-width: 100%;
}
.cover {
	width: 100%;
}
#divcover.notime.novolume,
#coverart.notime.novolume,
#controls-cover.notime.novolume {
	width: 50vh;
}
#qr {
	width: 230px;
	height: 230px;
	padding-top: 10px;
}
#qr .code {
	margin: 11px auto;
}
#coverart svg .text {
	fill: var( --cw ) !important;
}
#coverart,
#vu,
#biotitleimg,
.licover img {
	border: 1px solid hsl(0,0%,15%);
}
#vu { width: 230px }
#vu::before { /* glossy overlay */
	position: absolute;
	top: 0;
	left: 0;
	width: 230px;
	height: 230px;
	content: '';
							  /* w    h      x   y   inner(color)       w    outer(color)      w */
	background: radial-gradient( 160% 55% at 75% 0%, hsla(0,0%,100%,.15) 50%, hsla(0,0%,100%,0) 50% );
}

.controls {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
}
.btn {
	border: none;
	outline: none !important;
	border-radius: 4px;
	color: var( --cw );
							  /* w    h       x   y   inner(color)       w    outer(color)      w */
	background: radial-gradient( 160% 100% at 50% -50%, hsla(0,0%,100%,.3) 50%, hsla(0,0%,100%,0) 55% );
}
.btn-default {
	background-color: var( --cg );
}
#timeicon {
	position: absolute;
	left: 50%;
	top: 165px;
	margin-left: -60px;
	width: 120px;
	text-align: center;
}
#timeicon i {
	width: 20px;
	font-size: 16px;
	color: var( --cm ) !important;
}
#elapsed,
#volume {
	font-size: 38px;
	color: var( --cw );
	opacity: 1; /* fix volume text color */
}
#elapsed,
#total {
	position: absolute;
	left: 50%;
	margin-left: -75px;
	width: 150px;
}
#elapsed {
	top: 92px;
	line-height: 50px;
}
#total {
	top: 136px;
	color: var( --cg60 );
}
#volume,
#total {
	font-family: Lato;
}
/* overlay controls */
#map-cover {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%
}
.map {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	opacity: 0;
}
.map.mapshow {
	opacity: 0.8;
}
.map.guide.mapshow {
	opacity: 0.9;
}
#coverTR.empty {
	background: none;
	opacity: 0.8;
}
.guide {
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	left: -70px;
	right: 0;
	margin: -10px auto;
	background: var( --cg );
}
#guide-lyrics {
	left: 0;
	margin-top: 20px;
}
#guide-booklet {
	left: 70px;
	margin-top: 50px;
}
.maptime,
.mapvolume {
	border-radius: 4px;
}
.r1 { top: 0; }
.r2 { top: 22%; }
.r3 { top: 78%; }
.ws { width: 22%; }
.wl { width: 56%; }
.hs { height: 22%; }
.hl { height: 56%; }
.c2 { margin-left: 22%; }
.c3 { margin-left: 78%; }
.r1,
.r3,
.maptime,
.mapvolume {
	background: var( --cg );
}
#coverT,
#timeT {
	background: var( --cga );
}
.r2,
#coverB,
#timeL,
#timeM,
#timeR,
#timeB {
	background: var( --cmd );
}
.r1 {
	font-size: 30px;
}
.r2 {
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
}
.c2 {
	border-left: 3px solid #000000;
	border-right: 3px solid #000000;
}
.maptime {
	font-size: 22px;
}
.maptime,
.mapvolume {
	height: 40px;
	width: 60px;
	left: 50%;
	margin-left: -30px;
}
#timeT,
#timeB,
#volT,
#volB {
	margin-left: -20px;
	width: 40px;
}
#timeT,
#volT {
	top: 44px;
}
#timeTL,
#timeTR,
#timeBL,
#timeBR {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
#timeTL,
#timeTR {
	top: 53px;
	margin-left: -64px;
}
#timeTR,
#timeBR {
	margin-left: 24px;
}
#timeBL,
#timeBR {
	top: 141px;
}
#timeBL {
	margin-left: -64px;
}
#timeL,
#timeR,
#volL,
#volR {
	top: 97px;
	height: 40px;
}
#timeM,
#volM {
	top: 87px;
	height: 60px;
}
#timeL,
#timeR,
#volL,
#volR {
	width: 40px;
}
#timeL,
#volL {
	margin-left: -73px;
}
#timeR,
#volR {
	margin-left: 33px;
}
#timeB,
#volB {
	top: 150px;
}
.btn-group {
	display: inline-block;
	margin-top: 20px;
}
.btn-group > .btn {
	position: relative;
	float: left;
}
.btn-group > .btn:not(:first-child):not(:last-child) {
	border-radius:0;
}
.btn-group > .btn:first-child:not(:last-child) {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.btn-group > .btn:last-child:not(:first-child) {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}
.btn-group i {
	height: 40px;
	width: 40px;
	font-size:24px;
	line-height: 40px;
}
.btn-group .btn.active {
	background-color: var( --cm ) !important;
}
.btn-group .active.disabled {
	background-color: var( --cmd ) !important;
}
/* glossy highlight */
#random, 
#voldn,
#volume-band-dn {
	background: var( --glossy-btn-l );
	background-color: var( --cg );
}
#single,
#volmute {
	background: var( --glossy-btn-m );
	background-color: var( --cg );
	border-left: 1px solid var( --cga );
	border-right: 1px solid var( --cga );
}
#repeat,
#volup,
#volume-band-up {
	background: var( --glossy-btn-r );
	background-color: var( --cg );
}
/* ------------------- roundSlider ------------------- */
.rs-container {
	box-shadow: 0 0 8px 2px #555;
	border-radius: 50%;
}
.rs-container::before,
.rs-container::after,
#time .rs-inner-container::before,
#time .rs-inner-container::after {
	position: absolute;
	content: '';
}
.rs-container::after { /* glossy overlay */
							  /* w    h       x   y   inner(color)       w    outer(color)      w */
	background: radial-gradient( 160% 100% at 75% 0%, hsla(0,0%,100%,.15) 50%, hsla(0,0%,100%,0) 50% );
	border-radius: 50%;
}
.rs-handle,
.rs-transition {
	transition: all 0s linear;
}
.rs-path {
	stroke: none !important;
}
.rs-tooltip {
	width: 80px;
	font-family: Lato !important;
	font-size: 38px !important;
	font-weight: 300;
	line-height: 50px;
	color: var( --cw );
}
.rs-disabled {
	opacity: 1;
}
#time .rs-container {
	background: var( --cg );
}
#time .rs-container::before,
#time .rs-container::after {
	top: 20px;
	left: 20px;
	width: 190px;
	height: 190px;
	border-radius: 50%;
}
#time .rs-inner-container::after {
	left: 24px;
	top: 24px;
	width: 182px;
	height: 182px;
	background-color: #000000;
	border-radius: 50%;
}
#time .rs-container::before,
#volume .rs-container {
	background: linear-gradient( var( --cgl ), #000000 );
}
#time .rs-inner-container::before { /* fix: ios show thin line at 0 */
	width: 1px;
	height: 20px;
	background: var( --cg );
}
#time .rs-range {
	stroke: var( --cm );
	stroke-width: 21px; /* from width 22 - fix clipped right edge */
}
#time .rs-handle {
	margin-left: 0 !important;
	width: 40px !important;
	opacity: 0;
}
#volume .rs-container::before {
	top: 5px;
	left: 5px;
	width: 220px;
	height: 220px;
	background-color: #000000;
	border-radius: 50%;
}
#volume .rs-container::after {
	left: 0;
	width: 230px;
	height: 230px;
}
#volume .rs-handle {
	border: 1px solid var( --cga );
	background: var( --cm );
	box-shadow: inset var( --cga ) -1px 5px 5px;
}
#volume { /* volume up/down */
	position: relative;
}

/* ---------------------- bio ---------------------- */
#bio {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	background: #000000;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
#bio .container {
	max-width: 750px;
	margin: 0 auto;
	padding : 0 30px;
}
#bio i {
	font-size: 22px;
}
#biobanner {
	width: 100%;
}
#biocontent {
	font-size: 16px;
}
#biocontent .artist {
	position: sticky;
	top: 0;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 0;
	font-size: 30px;
	line-height: 30px;
	background: #000000;
	border-bottom: 1px solid var( --cg );
}
#biotitleimg {
	width: 40px;
	margin-right: 10px;
	vertical-align: -6px;
}
#biocontent .close-root,
#biocontent .bioback {
	float: right;
	width: 40px;
	line-height: 40px;
	margin-top: 5px;
	margin-right: -8px;
	font-size: 24px;
	text-align: center;
	color: var( --cm ) !important;
}
#biocontent .close-root {
	margin-top: -5px;
}
#biocontent .bioback {
	margin-top: -10px;
}
#biocontent .genre {
	text-transform: capitalize;
}
#biocontent p {
	margin: 0;
	line-height: 24px;
	font-size: 17px;
	color: var( --cw );
}
#biocontent i {
	color: var( --cgl );
}
#biocontent span {
	color: var( --cg60 );
}
#bioimg {
	position: relative;
	float: left;
	width: 30%;
	max-width: 200px;
	margin: 0 20px 10px 0;
	line-height: 0;
}
#bioimg a:nth-child(odd) {
	margin-left: 10px;
}
#bioimg img {
	width: 100%;
}
.biosimilar {
	display: inline-block;
	color: #0095d8;
}
.biosimilar p {
	width: 170px;
	margin: 0 0 10px 0;
}
#biosource {
	float: right;
	    padding-bottom: 40px;
}
/* ---------------------- lyrics --------------------------------- */
#lyrics {
	position: fixed;
	top: 50px;
	width: 100%;
	max-width: 510px;
	height: calc(100% - 50px);
	background: #000;
	box-shadow: 2px -2px 6px var( --cg );
	-webkit-overflow-scrolling: touch;
}
.content-top i,
#lyrics i {
	width: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 24px;
}
#divlyricstitle,
#divlyricsartist {
	position: relative;
	height: 40px;
	box-shadow: 0px 2px 10px #000;
}
#divlyricsartist {
	background: var( --cga );
}
#divlyricstitle img {
	display: inline-block;
	height: 40px;
}
#lyricstitle,
#lyricsartist {
	display: inline-block;
	width: calc( 100% - 84px );
}
#lyricstitle {
	margin-left: 10px;
	line-height: 40px;
	font-size: 26px;
	font-weight: 300;
}
#lyricsartist {
	padding-left: 15px;
	line-height: 42px;
	font-size: 18px;
	font-weight: 300;
}
#lyricsclose {
	position: absolute;
	right: 0;
	font-size: 24px;
	color: var( --cm );
}
#lyricsrefresh,
#lyricsedit,
#lyricseditbtngroup {
	float: right;
}
.lyricstext {
	height: calc(100% - 100px);
	width: 100%;
	font-family: Lato;
	font-size: 17px;
	line-height: 24px;
	color: var( --cw );
	scrollbar-width: none;
	-ms-overflow-style: none;
}
#lyricstext {
	padding: 20px 15px 180px 15px;
	overflow: auto;
}
#lyricstextarea {
	width: 100%;
	padding:20px 10px 140px 15px;
	background: var( --cga );
	border: none;
	border-radius: 0;
	resize: none;
}
#lyricsfade { /* faded bottom */
	position: fixed;
	bottom: 0;
	left: 0;
	width: 510px;
	max-width: 100%;
	height: 100px;
	background: -moz-linear-gradient(top,  transparent, #000000);
	background: -webkit-linear-gradient(top,  transparent,#000000);
	background: linear-gradient(to bottom,  transparent,#000000);
}

@media (max-width: 500px) {
	#lyrics {
		top: 0;
		height: 100%;
	}
	.lyricstext {
		height: calc(100% - 150px);
	}
}
/* ---------------------- library and queue ---------------------- */
#bar-top.barshidden {
	display: none;
}
.page.barshidden .content-top {
	top: 0;
}
.page.barshidden .list {
	padding-top: 40px;
}
.page.barshidden #lib-mode-list {
	padding-top: 50px;
}
#lib-mode-list {
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax( 190px, auto ) );
	padding: 90px 7px 117px 7px;
}
@media ( max-width: 773px ) { #lib-mode-list { grid-template-columns: repeat( auto-fit, minmax( 160px, auto ) ) } }
@media ( max-width: 493px ) { #lib-mode-list { grid-template-columns: repeat( auto-fit, minmax( 130px, auto ) ) } }
#lib-mode-list::after { /* fix 0 height */
	content: " "; 
	display: block;
	clear: both;
	height: 50px;
}
.list {
	margin: 0;
	padding: 80px 0 0 0;
}
.bars-off {
	padding-top: 40px !important;
}
#lib-mode-list.bars-off {
	padding-top: 50px !important;
}
#lib-mode-list.bars-off::after {
	height: 10px;
}
#lib-mode-list .bookmark {
    vertical-align: -1px;
}
#lib-mode-list.nolabel .bookmark {
    vertical-align: -33px;
}
.mode {
	position: relative;
	height: 110px;
	border: 2px solid #000;
	border-radius: 5px;
	color: var( --cg60 );
	text-align: center;
}
.mode.edit {
	background: hsl( 0, 0%, 15% );
}
.mode.edit .i-bookmark,
.mode.edit img,
.mode.edit .label {
	opacity: 0.33;
}
.mode i:not( .bkedit ) {
	display: inline-block;
	padding-top: 20px;
	font-size: 48px;
	line-height: 60px;
	text-align: center;
	color: var( --cg60 );
}
.mode .i-album,
.mode .i-albumartist {
	width: 45px;
}
.mode .i-date,
.mode .i-latest {
	width: 40px;
}
.mode .i-artist,
.mode .i-conductor,
.mode .i-sd,
.mode .i-playlists {
	width: 36px;
}
#lib-mode-list gr {
	position: absolute;
	top: 45px;
	margin-left: 8px;
	font-size: 14px;
}
.divbklabel {
	overflow: hidden;
}
.bkcoverart {
	margin-top: 5px;
	height: 100px;
	max-width: 100%;
	border: 1px solid hsl(0,0%,15%);
}
.label,
.bklabel {
	display: block;
	font-size: 16px;
	color: var( --cg60 );
}
.mode .i-bookmark {
	color: var( --cm );
}
.bkedit {
	position: absolute;
	right: 0;
	width: 34px !important;
	line-height: 34px !important;
	text-align: center;
	font-size: 24px !important;
	color: var( --cw ) !important;
}
.bk-remove,
.coverart-remove {
	top: 0;
}
.bk-rename {
	top: 37px;
}
.bk-cover {
	bottom: 0;
}
.coveredit {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 40px !important;
	height: 40px !important;
	line-height: 40px;
}
.coveredit i,
.bk-cover i {
	margin: 0 !important;
	font-size: 24px !important;
	color: var( --cw ) !important;
}
.bk-cover i {
	line-height: 34px !important;
}
.cover-save {
	left: 0;
	width: 40px !important;
	text-align: center;
}
.coveredit.cover-save i {
	width: 30px !important;
	line-height: 30px !important;
	margin-top: 5px !important;
	text-align: center;
	color: var( --cw ) !important;
	background: var( --cg );
	border-radius: 50%;
	box-shadow: var( --shadow-text );
}
.infoimgname {
	line-height: 25px;
	clear: both;
	margin: 0;
}
.infomessage .thumbnail {
	display: inline-block;
	margin-bottom: 10px;
}
.infomessage .thumbnail:nth-child( 2 ) {
	margin-left: 10px;
}
.infomessage .thumbnail img {
	margin-bottom: -5px;
}

/* ---------------------- breadcrumb and index ---------------------- */
.content-top {
	position: fixed;
	width: 100%;
	height: 40px;
	background: var( --cga );
	top: 40px;
	padding-right: 10px;
}
.content-top .title {
	display: inline-block;
	margin-left: 15px;
	height: 40px;
	line-height: 40px;
	font-size: 26px;
	letter-spacing: 5px;
	color: var( --cw );
}
#lib-title,
#pl-title {
	margin-left: 0;
}
.title .name {
	letter-spacing: normal;
}
.content-top a {
	font-size: 18px;
}
.button-webradio-new {
	margin-left: 10px;
}
#button-lib-update,
#button-lib-search,
#button-pl-search,
#button-pl-playlists {
	float: right;
}
#button-lib-back {
	position: relative;
	float: right;
	font-size: 28px;
	color: var( --cm );
	z-index: 115;
}
.i-back.left {
	float: left !important;
	margin-left: 5px;
}
#countsong,
#countradio {
	margin-left: 10px;
}
#lib-title {
	width: calc( 100% - 120px );
}
#pl-title {
	width: calc( 100% - 80px );
}
.lialbum,
#button-pl-back,
#lib-title a {
	color: var( --cml );
}
#lib-title a:last-of-type {
	color: var( --cw );
}
.button-coverart {
	position:relative;
	display: inline-block;
	line-height: 40px;
	margin-left: 15px;
}
#infoIcon .button-coverart {
	margin-left: 0;
}
.button-coverart::before,
.button-coverart::after {
	position: relative;
	content: '\F596';
	font-family: rern;
	font-size: 26px;
	z-index: 2;
}
.button-coverart::before {
	position: absolute;
	content: '\F595';
	color: var( --cg );
	z-index: 1;
}
.button-coverart img {
	position: absolute;
	top: 5px;
	width: 30px;
	height: 30px;
	border: 1px solid hsl(0,0%,30%);
}
#mode-title {
	font-size: 24px !important;
	font-weight: 300;
	color: var( --cw );
}
.spaced {
	letter-spacing: 4px;
}
#button-pl-back {
	float: right;
	font-size: 28px !important;
}
#button-library,
#button-playlist {
	float: left;
	display: inline-block;
	width: 40px;
	line-height: 40px;
	text-align: center;
}
#pl-path .i-back {
	width: 40px !important;
}
#lib-search,
#pl-search {
	display: inline-block;
	white-space: nowrap;
	float: right;
}
.search input {
	width: 140px;
	height: 32px !important;
	margin: 0;
	padding: 5px 5px 2px 5px;
	border: 1px solid var( --cg );
	color: var( --cw );
	background-color: #000000;
	font-family: Lato;
	font-size: 18px;
}
.searchclose {
	display: inline-block;
	margin-right: 5px;
	font-size: 18px;
}
.searchclose::before {
	content: "\F56C";
	font-family: rern;
	display: inline-block;
	width: 40px;
	margin-right: 5px;
	line-height: 40px;
	vertical-align: -2px;
	font-size: 26px;
	text-align: center;
	color: var( --cm );
}
.index {
	position: fixed;
	top: 0;
	right: 0;
	width: 38px;
	height: 100%;
	padding: 100px 0 60px 0;
	display:flex;
	flex-direction:column;
	align-items:center;
	background: var( --cga );
	box-shadow: var( --shadow-bar );
}
.index1 {
	display: none;
}
.index.bars-off {
	padding: 60px 0 20px 0 !important;
}
.index a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: var( --cgl );
}
.index a.indexed {
	color: var( --cw );
	text-shadow: var( --shadow-text );
}
#lib-list .coverart {
	max-width: 200px;
}
.coverart div {
	position: relative;
	padding-bottom: 100%;
}
.coverart img {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-right: 1px solid hsl(0,0%,15%);
	pointer-events: none;
}
.coverart1,
.coverart2 {
	display: block;
	padding-left: 2px;
	line-height: 18px;
}
.coverart1 {
	padding-top: 3px;
}
.coverart2 {
	color: var( --cg60 );
}
.coverart.active .coverart2 {
	color: var( --cga ) !important;
}
.list {
	margin: 0;
	list-style: none
}
.list li:not( .licover ) {
	display: block;
	height: 49px;
	line-height: 20px;
	border-bottom: 1px solid var( --cga );
	color: var( --cg60 );
}
.licover {
	position: fixed;
	display: flex;
	width: 100%;
	height: 230px;
	padding-left: 40px;
	background: #000;
}
.licover.nofixed {
	position: relative;
}
.licover.active {
	background: linear-gradient( #000000 195px, var( --cm ) 0 );
}
.licoverimg {
	position: relative;
	height: 230px;
}
.licoverimg img {
	height: 230px;
	pointer-events: none;
}
.liinfo {
	display: inline-block;
	margin: auto 0 0 0;
	padding: 0 5px 0 10px;
	line-height: 30px;
	color: var( --cw );
	overflow: hidden;
}
.lialbum {
	padding-left: 2px;
	font-size: 22px;
	font-weight: normal;
}
.liinfo i {
	margin: 0 10px 0 0 !important;
	width: 28px !important;
	font-size: 22px !important;
	line-height: 25px !important;
	vertical-align: -5px;
	color: var( --cg60 ) !important;
}
.mode.updn {
	background: var( --cga );
}
#pl-manage {
	float: right;
	font-size: 0;
}
.title a {
	font-size: 18px;
	letter-spacing: normal;
}
.title i {
	color: var( --cg60 );
	letter-spacing: normal;
}
#pl-count,
#pl-path {
	display: inline-block;
	font-size: 18px;
	color: var( --cg60 );
}
#countsong,
#countradio {
	vertical-align: 5%;
}

.list li,
#pl-savedlist a {
	font-size: 18px;
}
#lib-list.album {
	display: grid;
	width: calc( 100% - 38px );
	grid-template-columns: repeat( auto-fit, minmax( 160px, auto ) );
	justify-content: start;
}
@media ( max-width: 518px ) { #lib-list.album { grid-template-columns: repeat( auto-fit, minmax( 130px, auto ) ) } }
#lib-list li.track1 {
	margin-top: 230px;
}
.list .single {
	display: inline-block;
	max-width: calc( 100% - 90px );
	line-height: 48px;
	vertical-align: 5%;
}
.list .name {
	color: var( --cw );
}
.li-icon {
	float: left;
	display: block;
	width: 40px;
	min-height: 20px;
	margin-top: 3px;
	margin-right: 10px;
	font-size: 24px;
	line-height: 40px;
	text-align: center;
	color: var( --cg60 );
}
.iconthumb {
	margin-top: 4px;
	outline: 1px solid hsl(0,0%,15%);
}
li.active .iconthumb {
	outline: none;
}
#lib-list i {
	background: none !important;
}
#indexcover,
.lipath,
.lidir,
.liname,
.liindex,
.lisort,
.licue,
.liartist,
.lithumb,
.liimg {
	display: none;
}
.licover .liartist {
	display: block;
}
#pl-list li.updn {
	background: var( --cmd );
}
#pl-list li.active.updn {
	background: var( --cma );
}
#pl-savedlist {
	width: calc( 100% - 38px );
}
.list li.active:not(.licover),
#lib-list .active a {
	color: var( --cw );
	background: var( --cm );
}
#pl-list .pl-remove {
	float: right;
	position: relative;
	width: 49px;
	height: 49px;
	margin: 0;
	font-size: 24px;
	line-height: 45px;
	text-align: center;
	color: var( --cg60 ) !important;
}
#pl-list li.active .pl-remove {
	color: var( --cga ) !important;
}
.savewr {
	position: absolute;
	margin: 27px 0 0 1px !important;
	width: 20px !important;
	height: 20px;
	border-radius: 50%;
	font-size: 16px !important;
	line-height: 20px !important;
	text-align: center;
	color: #000000 !important;
	background: var( --cg75 );
}
#pl-list li.radio {
	margin: 0;
}

.mode.nodata i {
	color: var( --cg ) !important;
}
#lib-list li.nodata * {
	color: var( --cgl ) !important;
}
#lib-list li.nodata img {
	opacity: 0.5;
}
#lib-list li.active.nodata * {
	color: var( --cga ) !important;
}
li.active .li1 bl {
	color: var( --cga ) !important;
}
.list .li1 {
	height: 30px;
	padding: 5px 10px 0 0;
}
#pl-list .li1 span,
#pl-savedlist .li1 a {
	display: inline-block;
	max-width: calc( 100% - 105px );
}
.list .time {
	margin-left: 10px;
	color: var( --cg60 ) !important;
}
#pl-list .time {
	margin-left: 0;
}
#pl-list .elapsed i {
	margin: 0 10px 0 5px;
	vertical-align: -4px;
}
#pl-list .elapsed {
	margin: 0 3px 0 7px;
}
.list .li2 {
	display: block;
	max-width: calc( 100% - 60px );
	line-height: 14px;
	font-size: 14px;
}
.list .li2 * {
	font-size: 14px !important;
	color: var( --cg60 );
}
#pl-savedlist .li2 {
	max-width: 100%;
}
#pl-list .unsaved {
	color: var( --cw );
}
li.active .li-icon,
li.active .li1 i,
li.active .li2,
li.active .li2 a,
li.active .li2 span,
li.active gr,
li.active .time,
.licover.active .i-file-playlist {
	color: var( --cga ) !important;
}
li.active .li-icon.wh {
	color: var( --cw ) !important;
}
li.active gr {

}
li.active .name bl {
	color: var( --cg ) !important;
}
li.active .li2 bl {
	color: var( --cw ) !important;
}

.lib-sortable-ghost .mode::after {
	position: absolute;
	content: "\F600";
	font-family: rern;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 36px;
	line-height: 116px;
	color: var( --cw );
}
.lib-sortable-ghost .mode {
	background: var( --cg60 );
}
.lib-sortable-ghost .mode > * {
	opacity: 0.5;
}
.pl-sortable-ghost {
	background: var( --cg60 );
}
.pl-sortable-ghost .li-icon {
	visibility: hidden;
}
.pl-sortable-ghost a,
.pl-sortable-ghost .li2 {
	color: var( --cg ) !important;
}
.pl-sortable-ghost::before {
	position: absolute;
	content: "\F601";
	font-family: rern;
	width: 40px;
	text-align: center;
	font-size: 22px;
	line-height: 30px;
	color: var( --cw );
}
#playlist-empty {
	width: 100%;
	text-align: center;
	font-size: 30px;
}
/* flags */
.flag {
	margin-left: 5px;
}
.flag f {
	background: url( /assets/img/flags.png ) no-repeat;
	display: inline-block;
	width: 16px;
	height: 12px;
}
/* color */
#colorpicker {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}
#divcolor {
	position: relative;
	top: 50%;
	-webkit-transform: translateY( -50% );
	-ms-transform: translateY( -50% );
	transform: translateY( -50% );
	width: 230px;
	margin: auto;
}
#canvascolor {
	background: #000000;
	border-radius: 50%;
	touch-action: none;
	box-shadow: var( --shadow-bar );
}
#colorcancel {
	position: absolute;
	right: 0;
	width: 36px;
	height: 36px;
	font-size: 24px;
	line-height: 36px;
	border-radius: 50%;
	color: var( --cm );
	background: #000;
	text-shadow: var( --shadow-btn );
	box-shadow: 0 0 6px 5px #000000;
}
.tagmessage {
	display: flex;
	align-items: flex-end;
	width: calc( 100% - 10px );
	margin: -13px 0 7px 5px;
	line-height: 24px;
	cursor: pointer;
}
.tagmessage img {
	margin: 0;
}
.tagmessage div {
	margin-left: 10px;
	text-align: left;
}
.tagfooter {
	line-height: 40px;
}
.tagfooter div {
	display: inline-block;
}
.tagfooter div:first-child {
	float: left;
}
.tagfooter div:nth-child( 2 ) {
	float: right;
}
/************************************************************************************/
@media ( max-height: 768px ) {
	#page-playback { padding: 80px 0 60px }
}
@media ( max-height: 734px ) {
	.licover { position: relative }
	#lib-list li.track1 { margin-top: 0 }
}
@media ( max-height: 590px) {
	.emptyadd.barsalways { top: 90px }
	.index0 { display: none !important }
	.index1 {
		display: flex;
		padding-top: 50px;
		line-height: calc( 100% / 17 );
	}
}
@media ( max-height: 540px ) {
	#playback-row { margin-top: 10px }
	#button-time,
	#button-volume { display: none }
}
@media ( max-width: 700px ) {
	#sampling .radio { display: inline }
	#sampling .station,
	#pl-home-title { display: none }
}
@media ( max-width: 540px ) {
	#bio .container { padding : 0 10px }
	#pl-count,
	#pl-path,
	#pl-savedlist-count { margin-left: -20px }
}
/************************************************************************************/
@media ( orientation: landscape ) {
	@media ( max-width: 768px ) { #page-playback { --scale: 0.95 } }
	@media ( max-width: 700px ) { #page-playback { --scale: 0.9 } }
	@media ( max-width: 670px ) { #page-playback { --scale: 0.85 } }
	@media ( max-width: 630px ) { #page-playback { --scale: 0.8 } }
	@media ( max-width: 590px ) { #page-playback { --scale: 0.75 } }
	@media ( max-width: 550px ) { #page-playback { --scale: 0.7 } }
	@media ( max-width: 510px ) { #page-playback { --scale: 0.65 } }
	@media ( max-height: 540px ) {
		#page-playback { padding: 40px 0 !important; }
		#page-playback.barsalways { padding: 60px 0 60px !important }
		#page-playback {
			transform-origin: 0 0;
			transform: scale( var( --scale ) );
			width: calc( 100% / var( --scale ) );
			height: calc( 100% / var( --scale ) );
		}
	}
	@media ( max-height: 440px ) {
		#page-playback { --scale: 0.98 }
		#page-playback.barsalways { --scale: 0.9 }
	}
	@media ( max-height: 420px ) {
		#page-playback { --scale: 0.95 }
		#page-playback.barsalways { --scale: 0.85 }
	}
	@media ( max-height: 400px ) {
		#page-playback { --scale: 0.9 }
		#page-playback.barsalways { --scale: 0.8 }
	}
	@media ( max-height: 380px ) {
		#page-playback { --scale: 0.85 }
		#page-playback.barsalways {
			--scale: 0.75;
			padding: 80px 0 0 !important;
		}
	}
	@media ( max-height: 360px ) {
		#page-playback { --scale: 0.8 }
		#page-playback.barsalways { --scale: 0.7 }
	}
	@media ( max-height: 340px ) {
		#page-playback { --scale: 0.75 }
		#page-playback.barsalways { --scale: 0.65 }
	}
	@media ( max-height: 335px ) {
		#bar-top,
		#bar-bottom,
		#page-playback { padding-top: 20px !important }
	}
/*----------------------------------------------------------------------------------*/
	#coverart-block, #divcover { max-width: 50vh }
	@media ( max-height: 540px ) {
		#page-playback.barshidden { padding: 60px 0 20px }
	}
	@media ( max-height: 480px ) {
		#settings { position: absolute }
		#playback-row { margin-top: 10px }
		#time-knob,
		#coverart-block,
		#volume-knob { min-width: 30% }
		#divcomposer,
		#divconductor,
		#button-time,
		#button-volume { display: none }
	}
	@media ( min-width: 750px ) {
		#time-knob,
		#coverart-block,
		#volume-knob {
			margin: 0;
		}
	}
}
/************************************************************************************/
@media ( orientation: portrait ) {
	@media ( max-width: 900px ) {
		#coverart-block { max-width: 55% }
	}
	@media ( max-width: 895px ) {
		#playback-row { align-items: flex-start }
	}
	@media ( max-width: 749px ) {
		#playback-row { align-items: center }
		#time-knob,
		#volume-knob { width: 40% }
		#coverart-block { width: 50% }
		#volume-knob { margin: 20px 0 70px 0 }
	}
	@media ( max-width: 735px ) {
		.title { display: none }
	}
	@media ( max-width: 700px ) {
		.liinfo { display: none }
	}
	@media ( max-width: 612px ) {
		#page-library i.search { display: none }
	}
	@media ( max-width: 590px ) {
		#playback-row { align-items: flex-start }
	}
	@media ( max-width: 560px ) {
		#coverart-block { max-width: 50% }
	}
	@media ( max-width: 500px ) {
		#page-playback { padding-top: 60px }
		#playback-row { margin-top: 20px }
		#time-knob { display: none }
		#volume-knob,
		#coverart-block	{ width: 100% }
		#coverart-block,
		#volume-knob { width: auto }
		#coverart-block,
		#divcover { max-width: 100% }
	}
	@media ( max-width: 480px ) {
		#playback-controls i { margin: 0 5px }
		#lib-list li span i,
		#pl-savedlist a::before { display: none }
		.list li {
			font-size: 16px;
		}
		.list .li1,
		#pl-savedlist a,
		.time {
			font-size: 16px;
			line-height: 19px;
		}
		.list span.single { padding-left: 0 }
		.list .li2 { font-size: 12px }
		#bioimg {
			float: none;
			width: 100%;
			max-width: none;
			margin: -10px 0 10px 0;
		}
		#bioimg a {
			display: inline-block;
			width: 33.3%;
		}
		#bioimg a:nth-child( odd ) {
			margin-left: 0;
		}
		#bioimg img {
			width: 100%;
		}
	}
	@media ( max-width: 400px ) {
		#button-settings { right: 10px }
		.content-top { padding-right: 0 }
		#li-count { margin-left: 10px }
		#pl-manage i { width: 37px }
	}
	@media ( max-width: 360px ) {
		#li-count { display: none }
		#playback-controls i { margin: 0 3px }
		#pl-manage i { width: 36px }
	}
	@media ( max-width: 330px ) {
		#playback-controls i { margin: 0 }
		#button-pl-shuffle { display: none }
		#mode-title { display: none; }
	}
	@media ( max-width: 280px ) {
		#sampling { display: none }
		#divcover { min-width: auto }
	}
}
/* 3.5" lcd */
/************************************************************************************/
@media ( max-width: 320px ) and ( max-height: 480px ) {
	#page-playback {
		padding: 30px 0 0 0;
		overflow: hidden;
	}
	#sampling,
	#time-knob,
	#volume-knob,
	#guide-lyrics { display: none; }
	#coverart-block { margin-bottom : 0; }
	#divcover .i-coverart,
	#divcover .i-save { top: 5px; }
}
@media ( max-width: 480px ) and ( max-height: 320px ) {
	#page-playback {
		height: 100%;
		--scale: 0.65;
		padding: 40px 0 0 !important;
	}
	#info { transform: scale( 1.25 ) }
	#coverart-block,
	#divcover { max-width: 100vh; }
	#coverart-block { margin-bottom : 0; }
	#playback-row { margin-top: 40px; }
}
