.selectric-on,
.selectric-off {
	width: 170px;
	margin-bottom: 5px;
}
#on .selectric-items,
#off .selectric-items {
	min-width: 170px;
}
#gpio-num .selectric-items,
.selectric-ond .selectric-items,
.selectric-offd .selectric-items {
	min-width: 85px !important;
}
.selectric-pin,
.selectric-timer,
.selectric-delay {
	width: 85px;
	margin-bottom: 5px;
}
.sec {
	display: inline-block;
	margin-left: 5px;
	vertical-align: 5px;
}
span.timer {
	display: block;
	margin-top: 48px;
	margin-left: 0;
}
span.timer i {
	vertical-align: -2px;
}
#gpiosvg {
	width: 100%;
	max-width: 393px;
}
#gpiopin,
#gpiopin1 {
	display: none;
	margin: 10px 0;
	width: 100%;
	border-radius: 6px;
	background: var( --cw );
}
.gpio-float-l {
	float: left;
	min-width: 200px;
}
.gpio-float-r {
	float: left;
}
#gpio-name,
#gpio-name input {
	width: 120px;
}
#gpio .column {
	width: 175px;
}
#gpio-num.column,
.delay {
	width: 90px;
}
#gpio .column {
	float: left;
	margin: 0;
	padding: 0;
}
.gpio-text {
	display: block;
	padding: 0 0 0 5px;
	line-height: 40px;
	color: var( --cw );
}
.gpio-text i {
	width: 25px;
	text-align: center;
}
#gpio-name {
	margin: 0 0 5px 0 !important;
	width: 130px !important;
}
input {
	margin-bottom: 5px !important;
	height: 39px !important;
	padding: 0 10px !important;
	font-family: Lato;
	font-size: 15px !important;
	color: var( --cw );
	background-color: #000000 !important;
	border: 1px solid var( --cg ) !important;
}
.infobtn {
	width: 80px;
	margin-left: 0;
}
#undo {
	background-color: #de810e;
}
.column span i {
	font-size: 20px;
}
