.selectric-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
	max-width: 230px;
	margin-bottom: 11px;
	vertical-align: middle;
	cursor: pointer;
	font-family: Lato, rern;
}
.selectric-wrapper.disabled {
	pointer-events: none;
}
.selectric {
	border-radius: 4px;
	background: var( --cg );
	position: relative;
}
.selectric .label {
	display: block;
	height: 39px;
	padding: 0 30px 0 10px;
	line-height: 40px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.selectric .button {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 30px;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
}
.selectric .button:before {
	content: '\25BE';
}
.selectric-wrapper.disabled .label {
	padding-right: 10px;
}
.selectric-wrapper.disabled .button {
	display: none;
}
.selectric-open {
	z-index: 9999;
}
.selectric-open .selectric-items {
	display: block;
}
.selectric-hide-select {
	display: none;
}
.selectric-input {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 1px !important;
	height: 1px !important;
	outline: none !important;
	border: none !important;
	*font: 0/0 a !important;
	background: none !important;
}
.selectric-temp-show {
	position: absolute !important;
	visibility: hidden !important;
	display: block !important;
}
.selectric-items {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: fit-content !important;
	min-width: 230px;
	background: var( --cga );
	z-index: -1;
	box-shadow: -2px 2px 5px #000000;
}
.selectric-items .selectric-scroll {
	height: 100%;
	overflow: auto;
}
.selectric-above .selectric-items {
	top: auto;
	bottom: 100%;
}
.selectric-items ul,
.selectric-items li {
	list-style: none;
	padding: 0;
	margin: 0;
	line-height: 20px;
	min-height: 20px;
}
.selectric-items li {
	display: block;
	padding: 10px;
	white-space: nowrap;
	cursor: pointer;
}
.selectric-items li.selected {
	background: var( --cg );
}
.selectric-items li.highlighted {
	background: var( --cgl );
}
.selectric-items li:hover {
	background: var( --cg );
}
