.select2-container {
	max-width: 230px;
	width: 100% !important;
	height: 40px;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 24px;
}
.select2-container .select2-selection--single {
	height: 40px;
	background: none;
}
.select2-container--default .select2-selection--single {
	background: none;
	border:none;
	border-radius: 3px;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
	background: none;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: var( --cw );
	background: var( --cg );;
	line-height: 40px;
	border-radius: 3px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 40px;
	width: 30px;
}
.select2-dropdown {
	background: var( --cga );
	border: none;
	border-radius: 0;
}
.select2-container--default .select2-results>.select2-results__options {
	height: 360px;
	max-height: 70vh;
}
.select2-container--open .select2-dropdown--above {
	box-shadow: -2px -2px 5px #000000;
}
.select2-container--open .select2-dropdown--below {
	box-shadow: -2px 2px 5px #000000;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	font-family: lato;
	font-size: 16px;
	line-height: 24px;
	border: 1px solid var( --cg );
	border-radius: 3px;
	background: #000;
	color: var( --cw );
}
.select2-container--default .select2-results__option--selected,
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	color: var( --cw );
	background: var( --cgd );
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
	background: var( --cgl );
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	margin-top: -4px;
	border-color: var( --cw ) transparent transparent transparent;
	border-width: 5px 5px 0 5px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	margin-top: -5px;
	border-color: transparent transparent var( --cw ) transparent;
	border-width: 0 5px 5px 5px;
}
.select2.select2-container.select2-container--default.select2-container--disabled .select2-selection__arrow {
	display: none;
}
