.menu { z-index: 11 }
#bar-bottom { z-index: 5 }
.container input[type=checkbox] { z-index: 1 }

#listwlscan .i-lock { font-size: 16px; vertical-align: 1px }
.menu {
	position: absolute;
	margin-left: 40px;
	width: 150px;
	padding: 0;
	background: var( --cg );
	box-shadow: var( --shadow-menu );
}
.menu a {
	display: inline-block;
	width: 100%;
	margin: 0;
	line-height: 40px;
	font-size: 16px;
	color: var( --cg75 );
	border-top: 1px solid var( --cga ) !important;
}
.menu i {
	width: 40px;
	line-height: 40px;
	vertical-align: -3px;
	text-align: center;
	font-size: 22px;
	color: var( --cw );
	text-shadow: var( --shadow-text );
}

heading,
.col-l,
.entries li {
	-webkit-user-select: none;
	user-select: none;
}
#loader {
	background: #000000;
}
.head,
#bar-bottom {
	box-shadow: var( --shadow-bar );
}
#bar-bottom .active {
	background: var( --cm );
}
a[href^="http"] {
	color: var( --cml );
	text-decoration: none !important;
}
.container input[type="text"] {
	max-width: 230px;
	margin-bottom: 10px;
}
label {
	display: inline-block;
	margin: 2px 0;
}
ul {
	margin: 0;
}
.container::after,
.section::after,
.row::after {
	content: '';
	display: block;
	clear: both;
}
.section pre {
	margin-top: 0;
	padding: 5px;
	width: 100%;
	max-height: 75vh;
	tab-size: 4;
	background: var( --cgd );
	font-family: Inconsolata;
	font-size: 15px;
	line-height: 20px;
	overflow-x: auto;
}
.section pre code {
	background: var( --cg );
}
#prefiletype {
	white-space: pre-wrap;
}
div.helpblock {
	margin-left: 0;
}
.helpblock {
	display: block;
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 22px;
	color: var( --cg75 );
	white-space: pre-wrap;
}
heading + .helpblock {
	margin-bottom: 30px;
}
.helpblock i {
	width: 20px;
	line-height: 16px;
	font-size: 16px !important;
	text-align: center;
	vertical-align: -1px;
}
.helpblock i.btn {
	width: 22px;
	line-height: 20px;
	margin-left: 0;
	margin-right: 0;
	border: 1px solid var( --cga );
	text-align: center;
	border-radius: 2px;
}
.helpblock p {
	margin: 0 0 0 10px;
}
.helpblock .img {
	color: var( --cml );
}
.helpmenu {
	display: inline-block;
	width: 125px;
	height: 25px !important;
	line-height: 26px;
	padding-left: 3px;
	background: var( --cg );
}
.helpmenu.label {
	width: fit-content;
	padding: 0 5px 0 10px;
	text-align: right;
	background: var( --cga );
}
.helpmenu.tab {
	padding-left: 0;
	text-align: center;
}
#infoList .helpmenu.label {
	background: var( --cgd );
}
#infoList p i {
	width: 40px;
}
.helpmenu.label i {
	margin: 0 0 0 8px;
	text-align: left;
}
.helpmenu .sub {
	float: right;
	margin-left: 0 !important;
	width: 25px !important;
	line-height: 25px !important;
	text-align: center;
	background: var( --cg );
	border-left: solid 1px var( --cga );
}
.helpmenu i,
.sub {
	color: var( --cw );
}
btn {
	display: inline-block;
	line-height: 22px;
	padding: 0 3px;
	border: 1px solid var( --cg );
	border-radius: 3px;
}
.clear {
	clear: both;
}
heading {
	display: inline-block;
	margin: 25px 0 15px 0;
	padding-bottom: 5px;
	width: 100%;
	line-height: 35px;
	font-size: 24px;
	font-weight: 300;
	border-bottom: 1px solid var( --cg );
}
heading {
	letter-spacing: 5px;
}
heading.subhead {
	margin: 20px 0 10px 0;
	padding-bottom: 0;
	line-height: 28px;
	font-size: 18px;
	color: var( --cw );
	border-bottom-color: var( --cga );
}
heading.status .headtitle::after,
.col-l.status gr::after {
	display: inline-block;
	width: 40px;
	font-family: rern;
	font-style: normal;
	font-size: 22px;
	content: "\f561";
	text-align: center;
	color: var( --cg60 );
	letter-spacing: normal;
}
.col-l.status gr::after {
	width: 17px;
	font-size: 14px;
	text-align: right;
}
heading i {
	width: 40px;
	font-size: 22px;
	text-align: center;
	color: var( --cg60 );
	letter-spacing: normal;
}
heading i.back {
	width: 40px;
}
heading .i-status {
	display: none;
}
heading.status .i-status {
	display: inline-block;
}
heading i.help {
	float: right;
	text-align: right;
}
heading .i-add,
heading .i-search {
	color: var( --cw );
}
heading i.disabled {
	color: var( --cg ) !important;
}
.page-icon {
	background: var( --cm );
}
.helphead,
.close {
	float: right;
}
.helphead {
	color: var( --cg60 )
}
#divsoftlimit {
	margin-top: 20px;
}

#bar-bottom {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	padding: 0 55px;
	font-size: 28px;
	line-height: 35px;
	text-align: center;
	background: var( --cga );
	touch-action: manipulation; /* fix: Unable to preventDefault inside passive event listener */
}
@supports ( -webkit-touch-callout: none ) { /* ios only */
	#bar-bottom { line-height: 30px }
	.helpblock i { vertical-align: 0 }
}
#bar-bottom div {
	display: inline-block;
	width: calc( 100% / 5 );
	max-width: 165px;
	height: 40px;
	cursor: pointer;
}
#bar-bottom div.active a {
	color: var( --cw ) !important;
}
#bar-bottom i {
	width: 30px;
	vertical-align: -3px;
	font-size: 24px;
	color: var( --cw );
	text-shadow: var( --shadow-text );
}
#bar-bottom a {
	font-size: 16px;
	font-weight: 300;
	color: var( --cg60 );
}
.transparent {
	opacity: 0 !important;
}
.back {
	float: right;
	color: var( --cm );
}
.entries {
	display: block;
	margin: -16px 0 10px 0;
	padding: 0;
	line-height: 42px;
	list-style: none;
}
.entries li,
.entries li span,
.entries .li1,
.entries .li2 {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.entries li:first-of-type {
	border-top: 1px solid var( --cg );
}
.entries i {
	width: 40px;
	margin-right: 5px;
	font-size: 24px;
	line-height: 40px;
	vertical-align: -2px;
	text-align: center;
	color: var( --cg60 );
}
.entries .i-save {
	width: 20px;
	font-size: 22px;
}
.entries li {
	display: block;
	height: 49px;
	padding-top: 3px;
	font-size: 18px;
	border-bottom: 1px solid var( --cga );
}
.entries li span {
	float: left;
	display: block;
	width: calc( 100% - 40px );
}
.entries li .i-info {
    font-size: 22px !important;
}
.entries li.active {
	background: var( --cga );
}
.remove {
	float: right;
	margin-right: 0 !important;
}
.checkbox {
	padding-top: 0 !important;
}
.indent {
	margin: 0 20px;
}
input[type=image] {
	padding: 0;
	border: none !important;
}
#divabout {
	margin-top: 60px;
	line-height: 22px;
}
#logotext {
	display: inline-block;
	margin-left: 12px;
	line-height: 16px;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 15px;
}
#logotext gr {
	font-size: 15px;
	letter-spacing: normal;
}
.list {
	margin-top: 10px;
	color: var( --cg75 );
}
.list a::before {
	content: '• ';
	color: var( --cg75 );
}
.list p {
	margin: 0 0 0 12px;
}
.listtitle {
	margin-top: 10px;
	letter-spacing: 5px;
}
.listtitle a {
	display: inline-block;
	width: calc( 100% / 26 );
	min-width: 16px;
	text-align: center;
	color: var( --cml );
}
.brindex {
	display: none;
}
/* switch: https://codepen.io/mburnette/pen/LxNxNg */
.container input[type=checkbox]:has( + .switchlabel ) {
	position: absolute;
	height: 40px;
	width: 80px;
	opacity: 0;
}
.switchlabel {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 80px;
	height: 40px;
	margin-bottom: 5px;
	background: var( --cg );
	border-radius: 4px;
	box-shadow: inset 0px 1px 2px #000000;
}
.btn-primary,
.switchlabel:after,
input:checked + .switchlabel:after {
	background: var( --glossy-btn );
}
.switchlabel:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 40px;
	height: 40px;
	background-color: var( --cg );
	box-shadow: 0px 2px 5px #000000;
	border-radius: 4px;
	transition: 0.3s;
}
input:checked + .switchlabel:after {
	left: 50%;
	background-color: var( --cm );
	box-shadow: var( --shadow-btn );
}
.switchlabel:active:after {
	width: 40px;
}
input:checked.disabled + .switchlabel:after {
	background-color: var( --cmd );
}
input.disabled + .switchlabel {
	background-color: var( --cga );
}
input.disabled + .switchlabel:after {
	background-color: var( --cgd );
}
.setting,
.settingedit {
	width: 40px !important;
	margin-left: 5px;
	font-size: 26px;
	line-height: 40px;
	text-align: center;
}
.setting {
	position: absolute;
}
.setting.focus {
	color: var( --cm );
}
.cg {
	background: var( --cg );
}
.cga {
	background: var( --cga ) !important;
}
#divwebui svg {
	margin: 5px 0 10px 0;
}
.container {
	max-width: 658px;
	height: 100%;
	margin: 0 auto;
	padding: 30px 0 155px 0;
}
.col-l,
.col-r {
	float: left;
	position: relative;
}
.col-l {
	display: inline-block;
	width: 170px;
	font-size: 16px;
	text-align: right;
	padding-right: 15px;
	padding-top: 5px;
}
.col-l.text {
	padding-top: 0;
	height: 100%;
	line-height: 26px;
}
.col-l i {
	width: 30px;
	vertical-align: 5px;
	font-size: 22px;
	line-height: 18px;
}
.settings i,
.col-l i.status,
.col-l a .i-status {
	width: 20px;
	vertical-align: 0;
	text-align: center
}
.col-l .i-status {
	font-size: 15px;
}
.col-l a {
	display: inline-block;
	line-height: 16px;
	color: var( --cw );
}
.col-l gr {
	display: block;
	font-weight: 300;
}
.col-l.single { padding-top: 11px }
.col-l.single gr { display: none }
.col-l.single a { color: var( --cw ) }
.col-l.single i { vertical-align: -3px }

.col-l.icon {
	padding-top: 2px;
}
.settings i {
	color: var( --cw );
}
.w2x {
	width: 2em;
	text-align: center;
}
.col-r {
	width: calc( 100% - 170px );
	padding-right: 0;
	padding-left: 0 !important;
	font-weight: normal;
}
.col-r.text {
	float: left;
	white-space: nowrap !important;
	line-height: 26px;
}
#fliptxt {
	display: none;
	color: var( --cw );
}
.gpio svg {
	max-width: 100%;
}
#gpiopin,
#gpiopin1 {
	display: none;
	margin: 10px 0;
	width: 100%;
	border-radius: 6px;
	background: var( --cw );
}
#infoList .gpio tr td:nth-child( odd ) {
	width: 35px !important;
	padding-right: 2px !important;
	text-align: right !important;
}
#infoList .gpio tr td:nth-child( even ) {
	width: 55px !important;
}
#hostname {
	height: 40px !important;
}
#warning {
	margin-top: -1px;
}
#warning i {
	font-size: 16px;
	vertical-align: 0;
}
.divap {
	float: left;
	width: 170px;
}

@media (max-height: 570px) {
	.helphead { margin-right: 0 }
	.helphead::before {
		content: '\f509';
		color: var( --cg60 );
	}
	#bar-bottom { display: none }
}
@media (max-width: 800px) {
	#bar-bottom {
		padding: 0 20px;
	}
}
@media (max-width: 700px) {
	.container {
		padding: 30px 10px 100px 10px;
	}
}
@media (max-width: 658px) {
	body {
		height: 100%;
		overflow: hidden;
	}
	.container {
		overflow-y: auto;
	}
	#bar-bottom { padding: 0 }
}
@media ( max-width: 580px ) {
	.head { padding-right: 0 !important }
	wide { display: none }
}
@media (max-width: 515px) {
	.col-r .helpblock {
		margin-left: -160px;
		padding-bottom: 10px;
		border-bottom: 1px solid var( --cga );
	}
}
@media (max-width: 465px) {
	.settingedit { display: none }
	heading i.help { width: 30px }
	.hideN { display: none }
	.head .title { letter-spacing: calc( ( 100vw - 295px ) / 8 ) }
}
@media ( min-width: 466px ) {
	.hideW { display: none }
}
@media (max-width: 450px) {
	input[type="text"] { padding: 0 7px }
	.listtitle a { width: calc( 100% / 13 ) }
	.brindex { display: block }
}
@media (max-width: 615px) {
	#bar-bottom a { display: none }
}
@media (max-width: 375px) {
	.head .title { margin-left: 10px }
	#systemlabel,
	#statuslabel { width: 120px }
}
@media (max-width: 320px) {
	#divmpd .help { display: none }
}
@media (hover: hover) {
	#bar-bottom div:hover { background-color: var( --cgd ) }
	#bar-bottom div.active:hover { background-color: var( --cma ) }
	a:hover { text-decoration: none }
	.entries li:hover { background: var( --cga ) }
	#menu a:hover {
		color: var( --cw );
		background-color: var( --cgl );
	}
	heading i,
	table i,
	.back,
	.btn,
	.clipped::after,
	.close,
	.code,
	.col-l.icon,
	.divgain i,
	.edit,
	.entries li,
	.filetype,
	.helphead,
	.helpblock bl,
	.i-mute,
	.img,
	.listtitle,
	.page-icon,
	.prev-next,
	.setting,
	.settings,
	.settingedit,
	.slider,
	.status:not(pre,.single),
	.switchlabel,
	.tab .i-add,
	.tab .i-remove,
	.tab li i,
	.tablemapping i,
	.undervoltage,
	.wiring,
	#backend,
	#button-data,
	#gpioimgtxt,
	#menu {
		cursor: pointer
	}
	.switchlabel.focus {
		outline: 2px solid var(--cgl );
		outline-offset: 1px;
	}
}
