ACTION=="add", \
SUBSYSTEM=="bluetooth", \
ENV{DEVTYPE}=="link", \
RUN+="/srv/http/bash/bluetoothcommand.sh connect"

ACTION=="remove", \
SUBSYSTEM=="bluetooth", \
ENV{DEVTYPE}=="link", \
RUN+="/srv/http/bash/bluetoothcommand.sh disconnect"
