ACTION=="add", \
SUBSYSTEM=="bluetooth", \
ENV{DEVTYPE}=="host", \
RUN+="/srv/http/bash/bluetoothcommand.sh Ready"

ACTION=="remove", \
SUBSYSTEM=="bluetooth", \
ENV{DEVTYPE}=="host", \
RUN+="/srv/http/bash/bluetoothcommand.sh Removed"
