[Unit]
Description=CamillaDSP Daemon
StartLimitIntervalSec=10
StartLimitBurst=10

[Service]
Type=idle
ExecStart=/usr/bin/camilladsp --port 1234 /srv/http/data/camilladsp/configs/camilladsp.yml
Restart=always
RestartSec=1
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=10

[Install]
WantedBy=multi-user.target
