[Unit]
Description=Rotary encoder

[Service]
ExecStart=/srv/http/bash/rotaryencoder.sh
ExecStop=/opt/vc/bin/dtoverlay -r gpio-key
ExecStop=/opt/vc/bin/dtoverlay -r rotary-encoder
