[Unit]
Description=A spotify playing daemon
Wants=sound.target
After=sound.target
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/bin/taskset -c 3 /usr/bin/spotifyd --no-daemon
ExecStartPost=/srv/http/bash/cmd.sh nicespotify
Restart=always
RestartSec=12

[Install]
WantedBy=default.target
